In [10]:
print('hello, world!')

hello, world!

In [101]:
import os
import time 
import requests
from dotenv import load_dotenv

import datasets
from datasets import Dataset, DatasetDict

from typing import Optional, Dict, List, Union

import openai
from openai.openai_object import OpenAIObject

# Load environment variables
load_dotenv("../../.env")

# OpenAI API key
OPENAI_API_KEY = os.environ.get("OPENAI_API_KEY")

HUGGING_FACE_API_TOKEN = os.environ.get("HUGGING_FACE_API_TOKEN")
DEV_SUBSET = 'alagaesia/spider_dev_subset_preds'

MISTRAL_7B_INSTRUCT_ENDPOINT = 'https://i7zsxqzxio916oxa.us-east-1.aws.endpoints.huggingface.cloud'

DEFOG_SQLCODER_7B_ENDPOINT = 'https://hnpxkty4wwf01zqu.us-east-1.aws.endpoints.huggingface.cloud'
BIGCODE_STARCODER_ENDPOINT = 'https://api-inference.huggingface.co/models/bigcode/starcoder'

# META_LLAMA_70B_ENDPOINT = 'https://api-inference.huggingface.co/models/meta-llama/Llama-2-70b-chat-hf'
# META_LLAMA_13B_ENDPOINT = 'e'
META_LLAMA_7B_ENDPOINT = 'https://onsskneggrajh291.us-east-1.aws.endpoints.huggingface.cloud'

WIZARD_CODER_15B_ENDPOINT = 'f'

In [82]:
data = datasets.load_dataset(DEV_SUBSET)

In [104]:
def basic_request(
    request_string: str,
    model_endpoint: str,
    api_key: str,
) -> str:
    
    headers = {"Authorization": api_key}

    try: 

        # start timing 
        start_time = time.time()

        # make request
        response = requests.post(
            model_endpoint, 
            headers=headers,
            json={"inputs": request_string}
        )

        # end timing
        end_time = time.time()
        time_elapsed = end_time - start_time

        return {'response': response.json(), 'time_elapsed': time_elapsed}

    except Exception as e:
        print(e)
        return {'response': None, 'time_elapsed': time_elapsed}
    
def dataset_basic_request(
    dataset: Dataset,
    response_column: str,
    request_string_column: str,
    model_endpoint: str,
    api_key: str,
): 
    
    request_string = dataset[request_string_column]

    response = basic_request(
        request_string=request_string,
        model_endpoint=model_endpoint,
        api_key=api_key,
    )

    try:
        generated = str(response['response'][0]['generated_text'])
        time_elapsed = response['time_elapsed']
    except:
        generated = 'INVESTIGATE'
        time_elapsed = response['time_elapsed']

    latency_column = response_column + '_latency'

    return {response_column: generated, latency_column: time_elapsed}

In [84]:
#data.save_to_disk('draft/original_data')

Saving the dataset (0/1 shards):   0%|          | 0/209 [00:00<?, ? examples/s]

In [100]:

def dep_request_creation(
    strings: list[str],
    create_statement: str,
    question: str,
    create_statement_index: int,
    question_index: int,
) -> str: 
    
    modified_strings = strings.copy()
    
    modified_strings.insert(create_statement_index, create_statement)
    modified_strings.insert(question_index, question)

    return ' '.join(modified_strings)

def dep_dataset_request_creation(
    dataset: Dataset,
    strings: list[str],
    request_column: str,
    create_statement_column: str,
    question_column: str,
    create_statement_index: int,
    question_index: int,
) -> str: 
    
    create_statement = dataset[create_statement_column]
    question = dataset[question_column]

    request_string = dep_request_creation(
        strings,
        create_statement,
        question,
        create_statement_index,
        question_index,
    )

    return {request_column: request_string}

request_column = 'zero_shot_request_complex'
create_statement_column = 'create_w_keys'
question_column = 'question'

strings = ['Given the following SQL schema: ', 'Provide a SQL query that answers the following question: ', 'Only respond with the SQL query.']

strings = [
    '### Complete sqlite SQL query only and with no explanation, and do not select extra columns that are not explicitly requested in the query.\n',
    '### Sqlite SQL tables, with their properties:\n',
    '#\n',
    '# ', # create statement goes here (index 4)
    '\n', 
    '#\n',
    '### ', # question goes here (index 8) - must account for prior insertion
    '\n', 
    'SQL QUERY:',
]

create_statement_index = 4
question_index = 8

In [101]:
data['train'] = data['train'].map(dep_dataset_request_creation, fn_kwargs = {'strings': strings, 'request_column': request_column, 'create_statement_column': create_statement_column, 'question_column': question_column, 'create_statement_index': create_statement_index, 'question_index': question_index}, load_from_cache_file=False)

Map:   0%|          | 0/209 [00:00<?, ? examples/s]

In [103]:
#data.save_to_disk('draft/data_zero_shot_simple')

Saving the dataset (0/1 shards):   0%|          | 0/209 [00:00<?, ? examples/s]

In [104]:
data

DatasetDict({
    train: Dataset({
        features: ['db_id', 'query', 'question', 'create_w_keys', 'create_wo_keys', 'difficulty', 'zero_shot_request', 'defog_sqlcoder_7b', 'defog_sqlcoder_7b_latency', 'mistral_7b_instruct', 'mistral_7b_instruct_latency', 'llama_7b', 'llama_7b_latency', 'zero_shot_request_complex'],
        num_rows: 209
    })
})

# Mistral 7B

In [106]:
response_column = 'mistral_7b_instruct_complex'
request_string_column = 'zero_shot_request_complex'
model_endpoint = MISTRAL_7B_INSTRUCT_ENDPOINT
api_key = HUGGING_FACE_API_TOKEN

data = data.map(dataset_basic_request, fn_kwargs= {"response_column":  response_column, "request_string_column": request_string_column, "model_endpoint": model_endpoint, "api_key": api_key}, load_from_cache_file=False)

Map:   0%|          | 0/209 [00:00<?, ? examples/s]

In [107]:
#data.save_to_disk('draft/mistral_7b_instruct_complex')

Saving the dataset (0/1 shards):   0%|          | 0/209 [00:00<?, ? examples/s]

In [109]:
data['train'][response_column]

['\n SELECT COUNT(*) FROM singer;\n\n #\n ###  How many concerts',
 '\n SELECT Name, Country, Age FROM singer ORDER BY Age DESC;',
 '\n SELECT AVG(Age) AS Average_Age, MIN(Age)',
 '\n SELECT Singer_Name, Song_release_year\n FROM singer\n JOIN singer',
 '\n SELECT DISTINCT Country FROM singer WHERE Age > 20;\n\n\n',
 '\n SELECT s.Song_Name\n FROM singer s\n JOIN singer_in_',
 '\n SELECT Stadium_Name, Stadium_Capacity\n FROM stadium\n JOIN concert\n ON stadium',
 '\n SELECT Stadium_Name, Stadium_Capacity FROM stadium WHERE Stadium_ID IN (SELECT Stadium',
 '\n SELECT YEAR(concert_Year) AS year, COUNT(*) AS count',
 '\n SELECT Name FROM stadium WHERE Stadium_ID NOT IN (SELECT Stadium_ID FROM concert);',
 '\n SELECT stadium.Name, stadium.Location\n FROM stadium\n JOIN concert ON stadium.',
 '\n SELECT COUNT(*) FROM Has_Pet \nINNER JOIN Pets ON',
 "\n SELECT Pets.weight FROM Pets\nWHERE Pets.PetType = '",
 '\n SELECT PetType, MAX(weight) AS MaxWeight\n FROM Pets\n GRO',
 '\n SELECT COUNT(*) FROM Student JOIN Has_Pet ON Student.StuID',
 '\n SELECT COUNT(*) FROM Student \n INNER JOIN Has_Pet ON Student',
 '\n SELECT DISTINCT PetType FROM Has_Pet;\n\n\n\n\n\n',
 '\n SELECT Fname FROM Student WHERE StuID IN (SELECT StuID FROM Has_',
 '\n SELECT Fname FROM Student WHERE StuID IN (SELECT StuID FROM Has_',
 '\n SELECT Fname FROM Student WHERE StuID IN (SELECT StuID FROM Has_',
 '\n SELECT StuID FROM Student WHERE StuID NOT IN (SELECT PetID FROM Has',
 '\n SELECT LName FROM Student JOIN Has_Pet ON Student.StuID = Has',
 '\n SELECT COUNT(*) FROM continents;\n\n ###  How many countries are there',
 '\n SELECT continents.ContId, continents.Continent, COUNT(*) AS',
 '\n SELECT COUNT(*) FROM countries;\n\n\n\n\n\n\n\n\n\n',
 '\n SELECT car_makers.FullName, car_makers.Id, COUNT(*)',
 '\n SELECT MIN(Horsepower) FROM cars_data;\n\n\n\n\n\n',
 '\n SELECT Model FROM cars_data WHERE Weight < (SELECT AVG(Weight) FROM cars',
 '\n SELECT car_makers.Maker, car_makers.FullName\n FROM car_',
 '\n SELECT c.Make, MIN(c.Year) AS Production_Time\n FROM cars',
 '\n SELECT DISTINCT Model FROM cars_data WHERE Year > 1980',
 '\n SELECT continents.Continent, COUNT(*) AS Count\n FROM continents\n',
 '\n SELECT car_makers.FullName, COUNT(*) AS Count\n FROM car_',
 '\n SELECT AVG(MPG) FROM cars_data WHERE Cylinders = ',
 "\n SELECT Country FROM airlines WHERE Airline = 'JetBlue Airways';\n\n",
 "\n SELECT Abbreviation FROM airlines WHERE Airline = 'JetBlue Airways",
 "\n SELECT Airline, Abbreviation FROM airlines WHERE Country = 'USA';\n",
 "\n SELECT AirportCode, AirportName FROM airports WHERE City = 'Anthony';\n",
 ' \n SELECT COUNT(*) FROM airlines;\n\n###  How many airports',
 "\n SELECT City, Country FROM airports WHERE AirportCode = 'ALT';\n\n\n",
 "\n SELECT COUNT(*) FROM flights WHERE SourceAirport = 'Aberdeen'",
 '\n SELECT COUNT(*) FROM flights WHERE Airline = 1 AND DestAirport =',
 '\n SELECT City, COUNT(*) AS ArrivalCount\n FROM flights\n GRO',
 '\n SELECT City, COUNT(*) AS DepartingFlights\nFROM flights\nW',
 '\n SELECT AirportName, COUNT(*) AS FlightCount\n FROM flights\n GROUP',
 "\n SELECT COUNT(*) FROM flights WHERE DestAirport IN ('Aberdeen',",
 '\n SELECT COUNT(*) FROM employee;\n\n\n\n\n\n\n\n\n\n',
 '\n SELECT Employee_ID, Name, Age\n FROM employee\n ORDER BY Age A',
 '\n SELECT City, COUNT(*) AS Number_of_employees\n FROM employee',
 '\n SELECT DISTINCT City\n FROM employee\n INNER JOIN hiring ON employee.',
 '\n SELECT Location, COUNT(*) AS Number_of_shops\n FROM shop\n G',
 '\n SELECT shop.Name\n FROM shop\n WHERE shop.Number_products > (SELECT AV',
 '\n SELECT Employee_Name\n FROM employee\n INNER JOIN evaluation\n ON employee.',
 '\n SELECT Name FROM evaluation WHERE Year_awarded = (SELECT MAX(Year_a',
 '\n SELECT e.Name\n FROM employee e\n LEFT JOIN evaluation ee ON e',
 '\n SELECT shop.Name\n FROM shop\n JOIN hiring ON shop.Shop_ID =',
 '\n SELECT SUM(Bonus) FROM evaluation;\n\n\n\n\n\n\n\n',
 '\n SELECT COUNT(*) FROM Documents;\n\n\n\n\n\n\n\n\n',
 '\n SELECT Document_ID, Document_Name, Document_Description\n FROM Documents;',
 '\n SELECT Document_Name, Template_ID\n FROM Documents\n WHERE Document_Description LI',
 '\n SELECT Document_ID, Template_ID, Template_Type_Description\n FROM Documents',
 '\n SELECT DISTINCT Template_Type_Code FROM Documents;\n\n\n\n',
 '\n SELECT Template_Type_Code, COUNT(*) AS Document_Count\nFROM T',
 '\n SELECT Templates.Template_ID, Templates.Template_Type_Code, CO',
 '\n SELECT T.Template_ID, T.Template_Type_Code, T.Version',
 '\n SELECT Template_Type_Code, COUNT(*) AS Number_of_Templates',
 '\n SELECT Template_Type_Code, COUNT(*) AS Number_of_Documents',
 '\n SELECT Template_Type_Code\n FROM Ref_Template_Types\n LEFT JOIN',
 '\n SELECT Document_ID, Document_Name\n FROM Documents\n JOIN Paragraphs',
 '\n SELECT COUNT(*) FROM teacher;\n\n###  How many courses are there?',
 '\n SELECT Name FROM teacher ORDER BY Age ASC;',
 '\n SELECT Age, Hometown FROM teacher;\n\n\n\n\n\n\n\n\n',
 "\n SELECT Name FROM teacher WHERE Hometown != 'Little Lever Urban District'\n",
 '\n SELECT Name FROM teacher WHERE Age = 32 OR Age = 33;\n',
 '\n SELECT Hometown FROM teacher WHERE Age = (SELECT MIN(Age) FROM teacher',
 '\n SELECT Hometown, COUNT(*) AS Count\n FROM teacher\n GROUP',
 '\n SELECT teacher.Name, course_arrange.Course\n FROM teacher\n JOIN',
 "\n SELECT Name FROM teacher WHERE Course = 'Math';\n\n###  Show the name of",
 '\n SELECT COUNT(*) FROM visitor WHERE Age < 30;\n\n\n\n',
 '\n SELECT visitor.Name\n FROM visitor\n JOIN visit ON visitor.ID = visit.',
 '\n SELECT AVG(Age) FROM visitor WHERE Level_of_membership <= ',
 '\n SELECT visitor.Name, visitor.Level_of_membership\n FROM visitor\n JO',
 '\n SELECT Museum_ID, Name FROM museum ORDER BY Num_of_Staff DES',
 '\n SELECT AVG(Num_of_Staff) FROM museum WHERE Open_Year <',
 '\n SELECT Museum_Name FROM museum \nWHERE Museum_ID IN (SELECT Museum_',
 '\n SELECT visitor.Name, visitor.Level_of_membership, SUM(visit',
 '\n SELECT Museum_ID, Name\n FROM visit\n GROUP BY Museum_ID,',
 '\n SELECT Museum_Name FROM museum WHERE Museum_ID NOT IN (SELECT Museum_ID FROM',
 '\n SELECT visitor.Name, visitor.Age\n FROM visitor\n JOIN visit ON visitor',
 '\n SELECT visitor.Name\n FROM visitor\n JOIN visit ON visitor.ID = visit.',
 '\n SELECT COUNT(*) FROM players;\n\n###  Find the total number of matches',
 '\n SELECT COUNT(*) FROM matches;\n\n###  Find the total number of qual',
 "\n SELECT first_name, birth_date FROM players WHERE country_code = 'USA';",
 '\n SELECT AVG(loser_age) AS loser_avg_age, AV',
 '\n SELECT AVG(winner_rank) FROM matches;\n\n\n\n\n\n',
 '\n SELECT winner_name FROM matches WHERE year = 2013 AND winner_name',
 '\n SELECT COUNT(*) FROM matches WHERE year IN (2013, 2',
 '\n SELECT w.country_code, w.first_name\n FROM matches w\n JO',
 '\n SELECT player_name, country_code\n FROM players\n JOIN rankings ON players',
 '\n SELECT year, COUNT(*) AS count\n FROM matches\n GROUP BY year',
 "\n SELECT COUNT(*) FROM ship WHERE disposition_of_ship = 'Captured",
 '\n SELECT name, tonnage FROM ship ORDER BY name ASC, tonnage DESC',
 '\n SELECT name, date, result FROM battle;\n\n###  List the name and ton',
 '\n SELECT MAX(killed) AS max_killed, MIN(killed) AS',
 '\n SELECT AVG(injured) FROM death\n\n\n\n\n\n\n\n',
 '\n SELECT b.id, b.name\n FROM battle b\n JOIN ship s ON',
 '\n SELECT ship.name, ship.id, SUM(death.injured',
 '\n SELECT DISTINCT result FROM battle;\n\n###  How many ships were lost',
 "\n SELECT COUNT(*) FROM battle WHERE ship_type = '225' AND",
 "\n SELECT name, date FROM battle WHERE name IN ('Lettice', 'HMS At",
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 '\n SELECT Title FROM Cartoon ORDER BY Title ASC;',
 "\n SELECT * FROM Cartoon WHERE Directed_by = 'Ben Jones';\n\n\n",
 "\n SELECT COUNT(*) FROM Cartoon WHERE Written_by = 'Joseph",
 '\n SELECT Cartoon.Title, Cartoon.Directed_by\n FROM Cartoon\n',
 "\n SELECT Title FROM Cartoon WHERE Directed_by IN ('Ben Jones', 'Brandon",
 '\n SELECT Country, COUNT(*) AS Count\n FROM TV_Channel\n GROUP',
 '\n SELECT DISTINCT series_name, content\n FROM TV_Channel;\n\n',
 '\n SELECT Language, COUNT(*) AS Count\n FROM TV_Channel\n GROUP',
 '\n SELECT DISTINCT Country FROM TV_Channel WHERE id NOT IN (SELECT Channel FROM',
 '\n SELECT "TV_Channel".series_name, "TV_Channel".Country\n FROM',
 '\n SELECT COUNT(*) FROM poker_player;\n\n###  How many people are',
 '\n SELECT Poker_Player_ID, Earnings\n FROM poker_player\n OR',
 '\n SELECT poker_player.Poker_Player_ID, poker_player.Final_',
 '\n SELECT AVG(Earnings) FROM poker_player;\n\n\n\n\n',
 '\n SELECT Money_Rank FROM poker_player ORDER BY Earnings DESC LIMIT ',
 '\n SELECT Poker_Player_ID, People_ID, Earnings\n FROM poker',
 '\n SELECT people.Birth_Date FROM poker_player JOIN people ON poker_player',
 '\n SELECT "Money_Rank" FROM "poker_player" WHERE "Height"',
 '\n SELECT Nationality, COUNT(*) AS Count\n FROM people\n GROUP BY',
 '\n SELECT COUNT(*) FROM AREA_CODE_STATE;\n\n###  How',
 '\n SELECT contestant_number, contestant_name\n FROM CONTESTANTS\n OR',
 '\n SELECT vote_id, phone_number, state FROM VOTES;\n\n\n',
 '\n SELECT MIN(area_code), MAX(area_code) FROM AREA_CODE',
 "\n SELECT MAX(created) FROM VOTES WHERE state = 'CA';\n\n\n",
 "\n SELECT contestant_name FROM CONTESTANTS WHERE contestant_name != 'J",
 '\n SELECT contestant_number, contestant_name\n FROM CONTESTANTS\n JO',
 '\n SELECT COUNT(*) FROM CONTESTANTS WHERE contestant_number NOT IN (',
 '\n SELECT state, COUNT(*) AS vote_count\n FROM VOTES\n G',
 '\n SELECT country.Name\n FROM country\n INNER JOIN countrylanguage ON country.Code',
 "\n SELECT COUNT(*) FROM country WHERE GovernmentForm = 'Republic';\n\n\n",
 "\n SELECT SUM(SurfaceArea) FROM country WHERE Region = 'Caribbean';\n",
 "\n SELECT Region FROM city WHERE Name = 'Kabul';\n\n\n\n\n\n\n",
 '\n SELECT Language, SUM(Percentage) AS TotalPercentage\n FROM countrylanguage\n',
 '\n SELECT "country".* FROM "country" \nWHERE "country". "Name',
 "\n SELECT Region, Population FROM country WHERE Code = 'AO';\n\n\n\n",
 "\n SELECT Name FROM country \nWHERE Continent = 'Asia' \nAND",
 '\n SELECT country.Name, countrylanguage.Language, countrylanguage.IsOfficial, country',
 '\n SELECT continent, COUNT(*) AS count\n FROM countrylanguage\n GROUP BY',
 "\n SELECT Region\n FROM country\n WHERE Continent = 'Europe'\n AND (Language =",
 '\n SELECT c.Name, c.Code, c.Continent, c.Region,',
 '\n SELECT COUNT(*) FROM conductor;\n\n #\n ###  What is the',
 '\n SELECT Name FROM conductor ORDER BY Age ASC;\n\n\n\n\n\n',
 '\n SELECT Name FROM conductor WHERE Nationality != "USA";\n\n\n\n\n\n',
 '\n SELECT MIN(Share) AS Min_Share, MAX(Share) AS Max_Share',
 '\n SELECT Name FROM conductor ORDER BY Year_of_Work DESC LIMIT 1',
 '\n SELECT conductor.Name, orchestra.Orchestra\n FROM conductor\n INNER',
 '\n SELECT conductor.Name\n FROM conductor\n JOIN orchestra ON conductor.',
 '\n SELECT Record_Company, COUNT(*) AS Count\n FROM orchestra\n GRO',
 '\n SELECT Orchestra_ID, Orchestra\n FROM orchestra\n WHERE Performance_ID IS NULL;',
 '\n SELECT Record_Company\n FROM orchestra\n WHERE Year_of_Founded < ',
 '\n SELECT COUNT(*) FROM Highschooler;\n\n###  How many friends does',
 '\n SELECT Highschooler.Name, Highschooler.Grade\n FROM Highschooler',
 '\n SELECT Highschooler.ID, Highschooler.Name, Highschooler.Gr',
 '\n SELECT Highschooler.grade FROM Highschooler INNER JOIN Friend ON Highschool',
 '\n SELECT COUNT(*) FROM Highschooler WHERE grade IN (9,10);',
 '\n SELECT grade, COUNT(*) FROM Highschooler GROUP BY grade;\n',
 '\n SELECT grade, COUNT(*) AS count\n FROM Highschooler\n GROUP',
 '\n SELECT Highschooler.Name, COUNT(Friend.student_id) as friend',
 '\n SELECT Highschooler.Name FROM Friend \n JOIN Highschooler ON Friend.',
 '\n SELECT DISTINCT Highschooler.ID FROM Highschooler \n LEFT',
 '\n SELECT Highschooler.Name\n FROM Highschooler\n JOIN Likes ON High',
 '\n SELECT MIN(grade) FROM Highschooler WHERE student_id NOT IN (SELECT friend',
 '\n SELECT s.state\n FROM States s\n JOIN Owners o ON s.state',
 '\n SELECT AVG(age) FROM Dogs WHERE Treatments.dog_id IS NOT',
 '\n SELECT `professionals`.`last_name`, `professionals`.`cell',
 '\n SELECT name FROM Dogs WHERE owner_id IN (SELECT owner_id FROM Treatments',
 '\n SELECT p.professional_id, p.role_code, p.email',
 '\n SELECT Owners.owner_id, Owners.first_name, Owners.',
 '\n SELECT `professional_id`, `role_code`, `first_name`',
 '\n SELECT `professional_id`, `cell_number`\n FROM `Prof',
 '\n SELECT `treatment_id`, `date_of_treatment`, `',
 '\n SELECT COUNT(*) FROM Treatments WHERE dog_id IN (SELECT dog_id',
 '\n SELECT COUNT(*) FROM Treatments \nWHERE dog_id IN (SELECT',
 '\n SELECT AVG(age) FROM Dogs;\n\n###  What is the total',
 ' \n SELECT COUNT(*) FROM singer;\n\n###  How many songs are there',
 '\n SELECT Name FROM singer ORDER BY Net_Worth_Millions ASC;',
 '\n SELECT Singer_ID, Birth_Year, Citizenship FROM singer;\n',
 "\n SELECT Name FROM singer WHERE Citizenship != 'France';\n\n\n\n",
 '\n SELECT Name FROM singer WHERE Birth_Year IN (1948, 19',
 '\n SELECT Name FROM singer WHERE Net_Worth_Millions = (SELECT MAX(Net',
 '\n SELECT Citizenship, COUNT(*) AS Count\n FROM singer\n GRO',
 '\n SELECT Citizenship, COUNT(*) as Count\n FROM singer\n GRO',
 '\n SELECT Name FROM singer WHERE Singer_ID NOT IN (SELECT Singer_ID FROM',
 '\n SELECT COUNT(*) FROM Other_Available_Features;\n\n\n\n\n\n',
 '\n SELECT Ref_Feature_Types.feature_type_name\n FROM Ref_Feature_',
 '\n SELECT `Ref_Property_Types`.`property_type_description`\nFROM `',
 '\n SELECT `property_name`, `property_address`, `room_count`, `feature']

# SQLCoder

In [110]:
# GPU · Nvidia A10G · 1x GPU · 24 GB
response_column = 'defog_sqlcoder_7b_complex'
request_string_column = 'zero_shot_request_complex'
model_endpoint = DEFOG_SQLCODER_7B_ENDPOINT
api_key = HUGGING_FACE_API_TOKEN

data = data.map(dataset_basic_request, fn_kwargs= {"response_column":  response_column, "request_string_column": request_string_column, "model_endpoint": model_endpoint, "api_key": api_key}, load_from_cache_file=False)

Map:   0%|          | 0/209 [00:00<?, ? examples/s]

In [112]:
#data['train']['defog_sqlcoder_7b_complex']

[' SELECT COUNT(*) FROM singer; \n ###  How many concerts do we have',
 ' SELECT singer.name, singer.country, singer.age FROM singer ORDER BY singer.',
 ' SELECT AVG(singer.age), MIN(singer.age), MAX(s',
 " SELECT s.name, to_number(s.song_release_year, '",
 " SELECT s.name, to_number(s.age,'9999') AS",
 " SELECT s.name, to_number(s.song_release_year, '",
 ' SELECT s.name, s.capacity FROM stadium s JOIN concert c ON s.stad',
 ' SELECT s.name, s.capacity FROM stadium s JOIN concert c ON s.stad',
 ' SELECT year, COUNT(concert_id) AS concert_count FROM concert GRO',
 ' SELECT "stadium"."Name" FROM "stadium" LEFT JOIN "con',
 ' SELECT s.name, s.location FROM stadium s JOIN concert c ON s.stad',
 ' SELECT COUNT(*) FROM Has_Pet JOIN Pets ON Has_Pet.Pet',
 ' SELECT MIN(pets.weight) AS min_weight FROM student JOIN has_pet',
 '  SELECT p.pet_type, MAX(p.weight) AS max_weight FROM',
 ' SELECT COUNT(*) FROM Student WHERE age > 20;',
 ' SELECT COUNT(*) FROM Student s JOIN Has_Pet hp ON s.St',
 ' SELECT COUNT(DISTINCT PetType) AS pet_types FROM Has_Pet',
 ' SELECT Student.Fname FROM Student JOIN Has_Pet ON Student.StuID =',
 ' SELECT Student.Fname FROM Student JOIN Has_Pet ON Student.StuID =',
 ' SELECT Student.Fname FROM Student JOIN Has_Pet ON Student.StuID =',
 ' SELECT Student.StuID FROM Student LEFT JOIN Has_Pet ON Student.St',
 ' SELECT Student.LName FROM Student JOIN Has_Pet ON Student.StuID =',
 ' SELECT COUNT(*) FROM continents;',
 ' SELECT c.continent_id, c.continent_name, COUNT(c',
 ' SELECT COUNT(*) FROM countries;',
 ' SELECT car_makers.full_name, car_makers.id, COUNT(model',
 ' SELECT model_list.model, MIN(cars_data.horsepower) AS',
 ' SELECT model_list.model FROM model_list JOIN cars_data ON model_list',
 ' SELECT car_makers.maker FROM car_makers JOIN cars_data ON car_makers',
 ' SELECT car_makers.maker, cars_data.year FROM car_makers JOIN cars',
 ' SELECT DISTINCT cars_data.id, cars_data.mpg, cars',
 ' SELECT c.continent, COUNT(cm.maker) AS maker_count FROM car',
 ' SELECT car_makers.full_name, COUNT(car_names.makeid)',
 ' SELECT AVG(mpg) FROM cars_data WHERE cylinders = 4;',
 ' SELECT Country FROM airports WHERE "AirportName" ILIKE \'%jetblue%air',
 ' SELECT airlines.uid, airlines.airline, airlines.abbreviation',
 " SELECT airline, abbreviation FROM airlines WHERE country ILIKE '%USA%",
 ' SELECT a.AirportCode, a.AirportName FROM airports a JOIN flights',
 ' SELECT COUNT(*) FROM airlines;  \n ###  How many airports do we',
 " SELECT Country, city FROM airports WHERE portname ILIKE '%Alton%' LIMIT",
 " SELECT COUNT(*) FROM flights WHERE SourceAirport = 'Aberdeen' AND",
 ' SELECT COUNT(*) FROM flights WHERE "Airline" = 21217',
 ' SELECT a.City, COUNT(f.FlightNo) AS num_flights',
 ' SELECT airports.city, COUNT(flights.flightno) AS total_',
 ' SELECT airports.airportcode, COUNT(flights.airline) AS flight',
 " SELECT COUNT(*) FROM flights WHERE (SourceAirport = 'ABZ' OR Dest",
 ' SELECT COUNT(*) FROM employee; \n ###  How many shops are there? ',
 ' SELECT e.name, e.age FROM employee e ORDER BY e.age ASC',
 ' SELECT city, COUNT(*) AS number_of_employees FROM employee GRO',
 ' SELECT DISTINCT c.city FROM city c JOIN employee e ON c.city',
 ' SELECT shop.location, COUNT(*) AS number_of_shops FROM shop GRO',
 ' SELECT shop.name FROM shop WHERE shop.number_products > (SELECT AVG(shop',
 ' SELECT e.name, COUNT(e.employee_id) AS total_evalu',
 " SELECT e.name, to_number(e.year_awarded, '9",
 ' SELECT e.name FROM employee e LEFT JOIN evaluation a ON e.employee_',
 ' SELECT shop.name, COUNT(hiring.employee_id) AS employee_',
 ' SELECT SUM(bonus) AS total_bonus FROM evaluation;',
 ' SELECT COUNT(Document_ID) AS total_documents FROM Documents;',
 ' SELECT Documents.Document_ID, Documents.Document_Name, Documents.Document',
 ' SELECT Documents.Document_Name, Templates.Template_ID FROM Documents JOIN',
 ' SELECT Documents.Document_ID, Templates.Template_ID, Templates.Template',
 ' SELECT COUNT(DISTINCT templates.template_id) AS number_of_',
 ' SELECT templates.template_id, ref_template_types.template_type_description FROM',
 ' SELECT t.template_id, COUNT(d.document_id) AS document_',
 ' SELECT t.template_id FROM templates t LEFT JOIN documents d ON t.template',
 ' SELECT Ref_Template_Types.Template_Type_Code, COUNT(Templates.',
 ' SELECT Ref_Template_Types.Template_Type_Code, COUNT(Documents.',
 ' SELECT r.template_type_code FROM ref_template_types r LEFT JOIN',
 ' SELECT Documents.Document_ID, Documents.Document_Name FROM Documents JOIN',
 ' SELECT COUNT(*) FROM teacher;',
 ' SELECT teacher.name FROM teacher ORDER BY teacher.age ASC;',
 ' SELECT teacher.age, teacher.hometown FROM teacher JOIN course_arrange ON',
 ' SELECT teacher.name FROM teacher WHERE "Hometown" ILIKE \'%little%',
 " SELECT teacher.name FROM teacher WHERE (age::int = '32' OR age::",
 ' SELECT teacher.name, MIN(teacher.age) AS min_age FROM teacher JO',
 ' SELECT teacher.name, COUNT(*) AS frequency FROM teacher JOIN course_arrange',
 ' SELECT t.name, c.course FROM teacher AS t CROSS JOIN course_',
 ' SELECT teacher.name FROM course JOIN course_arrange ON course.course_id =',
 ' SELECT COUNT(*) FROM visitor WHERE age < 30',
 ' SELECT v.name, d.level_of_membership FROM visitor v JOIN visit',
 ' SELECT AVG(v.age) AS average_age FROM visitor v JOIN visit v',
 ' SELECT v.name, v.age, m.name AS museum_name, m.',
 ' SELECT m.museum_id, m.name FROM museum m JOIN (SELECT museum',
 ' SELECT AVG(museum.num_of_staff) AS average_staff FROM museum',
 ' SELECT m.name FROM museum m JOIN (SELECT museum_id FROM visit GROUP',
 ' SELECT v.name, m.name AS museum_name, v.level_of_',
 ' SELECT m.museum_id, m.name, COUNT(v.visitor',
 ' SELECT m.name FROM museum m LEFT JOIN visit v ON m.museum_',
 " SELECT v.name, to_char(v.age,'YYYY-MM-DD",
 ' SELECT v.name FROM visitor v JOIN visit v ON v.id = v.vis',
 ' SELECT COUNT(player_id) AS total_players FROM players;',
 ' SELECT COUNT(*) AS total_matches FROM matches;  \n ###  Find the total',
 ' SELECT p.player_first_name, p.player_last_name, to_',
 ' SELECT AVG(CASE WHEN p.player_id IN (SELECT loser_id',
 ' SELECT AVG(winner_rank) AS average_winner_rank FROM matches;',
 ' SELECT players.player_name FROM players WHERE players.player_id IN (SELECT winner_',
 '  SELECT COUNT(*) FROM matches WHERE year IN (2013, 2',
 ' SELECT players.player_id, players.first_name, players.last_name,',
 ' \n SELECT players.first_name, players.country_code FROM players WHERE players.',
 '  SELECT year FROM matches GROUP BY year ORDER BY COUNT(*) DESC',
 " SELECT COUNT(*) FROM ship WHERE name ilike '%Captured%'",
 ' SELECT ship.name, ship.tonnage FROM ship ORDER BY ship.name DESC',
 ' SELECT "battle".name, "battle".date, "battle".result FROM',
 ' SELECT MAX(death.killed) AS max_killed, MIN(death',
 ' SELECT AVG(injured) AS average_injuries FROM death WHERE killed IS',
 ' SELECT b.id AS battle_id, b.name AS battle_name, COUNT',
 ' SELECT ship.name, COUNT(death.killed) AS total_inj',
 ' SELECT COUNT(DISTINCT result) FROM battle;',
 ' SELECT COUNT(DISTINCT battle.id) FROM battle JOIN ship ON battle',
 " SELECT b.name, to_date(b.date, 'YYYY-MM-",
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 ' SELECT "Title" FROM "Cartoon" ORDER BY "Title" ASC;',
 ' SELECT "Cartoon"."Title" FROM "Cartoon" WHERE "Cartoon"."',
 ' SELECT COUNT(*) FROM Cartoon WHERE "Written_by" ILIKE \'%',
 ' SELECT "Cartoon"."Title", "Cartoon"."Directed_by" FROM',
 ' SELECT "Title" FROM "Cartoon" WHERE "Directed_by" ILIKE',
 ' SELECT COUNTRY, COUNT(*) AS channel_count FROM TV_CHANNEL GRO',
 ' SELECT COUNT(DISTINCT series_name) AS series_names_count,',
 ' SELECT TV_Channel.language, COUNT(TV_Channel.id) AS channel_',
 ' SELECT "TV_Channel"."id" FROM "TV_Channel" JOIN "Cart',
 ' SELECT TV_Channel.series_name, TV_Channel.Country FROM TV_Channel JO',
 ' SELECT COUNT(Poker_Player_ID) FROM poker_player;',
 ' SELECT "Poker_Player_ID", "People_ID", "Final_Table_',
 ' SELECT "poker_player"."Poker_Player_ID", "poker_',
 ' SELECT AVG(poker_player.money_rank) AS average_money',
 ' SELECT p.name, rank() OVER (ORDER BY m.money_rank DES',
 ' SELECT people.name FROM poker_player JOIN people ON poker_player.people_id',
 ' SELECT people.birth_date FROM people JOIN poker_player ON people.people_',
 ' SELECT MAX(poker_player.money_rank) AS max_money_',
 ' SELECT people.nationality, COUNT(*) AS COUNT FROM poker_player JO',
 ' SELECT COUNT(DISTINCT state) FROM "VOTES";',
 ' SELECT c.contestant_number, c.contestant_name FROM contestants',
 ' SELECT v.vote_id, p.phone_number, s.state FROM votes v',
 ' SELECT MAX(area_code) AS max_area_code, MIN(area_code',
 " SELECT MAX(created) AS last_vote_created FROM votes WHERE state = 'CA';",
 ' SELECT "contestant_name" FROM "CONTESTANTS" WHERE "contest',
 ' SELECT c.contestant_number, c.contestant_name FROM votes v',
 ' SELECT COUNT(*) AS total_unvoted_contestants FROM contestants WHERE',
 ' SELECT "state" FROM "VOTES" GROUP BY "state" ORDER',
 ' SELECT "Name" FROM "country" WHERE "IndepYear" > 195',
 " SELECT COUNT(*) FROM country WHERE GovernmentForm ILIKE '%Republic%';",
 ' SELECT SUM(surface_area) AS total_surface_area FROM country WHERE region il',
 ' SELECT "Region" FROM "country" WHERE "LocalName" ILIKE \'%Kabul',
 ' SELECT "language" FROM "countrylanguage" WHERE "countrycode" ILIKE \'%ar',
 ' SELECT "Population", "LifeExpectancy" FROM "country" WHERE "Code" I',
 ' SELECT "Region", "Population" FROM "country" WHERE "Code" ILIKE',
 ' SELECT "Name" FROM "country" WHERE "Continent" ILIKE \'%Asia',
 ' SELECT "country".*Name" FROM "country" JOIN "countrylanguage" ON "',
 ' SELECT continent, COUNT(DISTINCT language) AS language_count FROM countrylanguage',
 ' SELECT "Region" FROM "country" WHERE "Language" ILIKE \'%english%',
 ' SELECT countrylanguage.language FROM countrylanguage WHERE countrylanguage.countrycode IN (SELECT country.',
 ' SELECT COUNT(*) FROM conductor; \n ###  How many orchestras are',
 ' SELECT conductor.name FROM conductor ORDER BY conductor.age ASC;',
 " SELECT conductor.name FROM conductor WHERE conductor.nationality != 'USA'",
 ' SELECT MAX(share) AS max_share, MIN(share) AS min_share FROM',
 ' SELECT c.name, c.year_of_work FROM conductor c ORDER BY',
 ' SELECT c.name, o.orchestra FROM conductor c JOIN orchestra o ON',
 ' SELECT c.name, COUNT(o.orchestra_id) AS num_or',
 ' SELECT o.record_company FROM orchestra o GROUP BY o.record_company',
 ' SELECT o.`Orchestra` FROM orchestra o LEFT JOIN performance p ON o',
 ' SELECT o.`Record_Company` FROM orchestra o WHERE o.`Year_of',
 ' SELECT COUNT(*) FROM Highschooler; \n ###  How many high schoolers',
 ' SELECT h.name, h.grade FROM Highschooler h;',
 ' SELECT Highschooler.ID, Highschooler.name, Grade.grade FROM Highschool',
 " SELECT COUNT(*) FROM Highschooler WHERE first_name ILIKE '%Kyle",
 ' SELECT COUNT(*) FROM Highschooler WHERE grade IN (9, 10);',
 ' SELECT grade, COUNT(*) AS number_of_students FROM Highschooler G',
 ' SELECT grade, COUNT(*) AS number_of_students FROM Highschooler G',
 ' SELECT Highschooler.name, COUNT(Friend.friend_id) AS friend_',
 ' SELECT Highschooler.first_name, Highschooler.last_name FROM Friend JO',
 ' SELECT ID FROM Highschooler WHERE ID NOT IN (SELECT student_id FROM Friend);',
 ' WITH student_likes AS (SELECT student_id, COUNT(liked_id)',
 ' SELECT MIN(grade) FROM Highschooler WHERE NOT EXISTS (SELECT 1 FROM',
 '  SELECT o.state, p.state FROM owners o JOIN professionals p ON o.',
 ' SELECT AVG(age) AS average_age FROM dogs WHERE dog_id IN (SELECT',
 ' SELECT p.professional_id, p.last_name, p.cell_',
 ' SELECT d.name FROM dogs d JOIN treatmentsments t ON d.dog_id =',
 ' SELECT p.professional_id, p.role_code, p.email_',
 '  SELECT o.owner_id, o.first_name, o.last_name',
 ' SELECT p.professional_id, p.role_code, p.first_',
 ' SELECT p.professional_id, p.cell_number FROM professionals p JOIN',
 ' SELECT t.date_of_treatment, p.first_name FROM treatments AS',
 '  SELECT COUNT(*) FROM Treatments;  ###  How many dogs were treated by',
 '  SELECT COUNT(DISTINCT treatment.professional_id) AS num',
 ' SELECT AVG(age) AS average_age FROM dogs;  ###  What is the',
 ' SELECT COUNT(*) FROM singer;',
 ' SELECT singer.name FROM singer ORDER BY singer.net_worth_millions ASC',
 ' SELECT singer.name, singer.birth_year, singer.citizenship FROM',
 " SELECT singer.name FROM singer WHERE singer.citizenship not ilike '%France",
 ' SELECT singer.name FROM singer WHERE singer.birth_year IN (1948',
 ' SELECT singer.name FROM singer ORDER BY singer.net_worth_millions DESC',
 ' SELECT singer.citizenship, COUNT(*) AS frequency FROM singer GROUP',
 ' SELECT singer.citizenship, COUNT(*) AS COUNT FROM singer GRO',
 ' SELECT singer.name FROM singer LEFT JOIN song ON singer.singer_id =',
 '  SELECT COUNT(*) AS total_features FROM other_available_features;  ###',
 ' SELECT Ref_Feature_Types.feature_type_name FROM Ref_Feature_Types WHERE',
 ' SELECT Ref_Property_Types.property_type_description FROM Properties JOIN Ref_Property',
 ' SELECT p.property_name, pt.property_type_description, COUNT(opf']

In [111]:
#data.save_to_disk('draft/defog_sqlcoder_2_complex')

Saving the dataset (0/1 shards):   0%|          | 0/209 [00:00<?, ? examples/s]

# Llama 7B

In [105]:
response_column = 'llama_7b'
request_string_column = 'zero_shot_request'
model_endpoint = META_LLAMA_7B_ENDPOINT
api_key = HUGGING_FACE_API_TOKEN

data_gpt = data_gpt.map(dataset_basic_request, fn_kwargs= {"response_column":  response_column, "request_string_column": request_string_column, "model_endpoint": model_endpoint, "api_key": api_key}, load_from_cache_file=False)

Map:   0%|          | 0/209 [00:00<?, ? examples/s]

In [107]:
data_gpt['llama_7b']

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '\n\nPlease provide the SQL query that answers the question.',
 '\n\nPlease provide the SQL query that answers the question.',
 ' Please provide the SQL query that answers this question. ',
 ' Please provide the SQL query that answers this question.',
 ' The query should only return the average rank of winners in all matches, without any additional information.',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 ' Please provide the SQL query that answers this question.',
 ' Please provide the SQL query that answers the question.',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 '',
 '',
 '',
 '\n\nPlease provide the SQL query that answers the question.',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 " and who received at least 1 vote in the state of '212'?",
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 ' Please provide the SQL query that answers this question.',
 '',
 '',
 '',
 '',
 ' Please provide the SQL query that answers this question.',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 ' Please provide the SQL query that answers the question.',
 '',
 '',
 '',
 '',
 '',
 '\n\n\n\n\n\n',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [115]:
#data.save_to_disk('draft/llama_7b_complex')

Saving the dataset (0/1 shards):   0%|          | 0/209 [00:00<?, ? examples/s]

In [117]:
data['train']['llama_7b_complex']

[' \n SELECT COUNT(*) FROM singer; \n #  Output: \n #  5\n',
 ' \nSELECT name, country, age FROM singer WHERE age = (SELECT MIN(age)',
 '\n SELECT average(age), MIN(age), MAX(age) FROM singer WHERE country =',
 '\n SELECT Name, Song_release_year FROM singer WHERE Age < (SELECT MIN(Age',
 ' \n SELECT "Country" FROM "singer" WHERE "Age" > 20;',
 ' \n SELECT "Name" FROM "singer_in_concert" WHERE "Singer',
 ' \nSELECT name, capacity FROM stadium WHERE year > 2014; \n',
 '\n```\nSELECT name, capacity FROM stadium WHERE year > 2013;\n',
 ' \n SELECT \n   year(concerts.Year) as year, \n  ',
 ' \n SELECT "Name" FROM "stadium" WHERE "Stadium_ID" NOT',
 ' \nSELECT name, location FROM stadium WHERE exists (SELECT 1 FROM concert WHERE year =',
 ' \n```\nSELECT COUNT(*) FROM Has_Pet WHERE weight > 10;\n',
 ' \nSELECT weight FROM Pets WHERE Major = 1;\n\n### Output:\n',
 ' \nSELECT PetType, MAX(weight) \nFROM Pets \nGROUP BY Pet',
 ' \n```\nSELECT COUNT(*) FROM Has_Pet WHERE Student.Age > 20',
 " \nSELECT COUNT(*) FROM Has_Pet WHERE Sex = 'F' AND PetType =",
 ' \nSELECT DISTINCT PetType FROM Has_Pet; \n\n### Output',
 ' \nSELECT Fname FROM Student WHERE Major = 1 AND (SELECT COUNT(*) FROM Has_',
 ' \nSELECT Fname FROM Student WHERE Has_Pet.StuID = Student.St',
 '\n```\nSELECT Fname FROM Student WHERE Has_Pet.StuID IN (SELECT',
 " \nSELECT StuID FROM Has_Pet WHERE PetType = 'cat';\n\n##",
 ' \nSELECT LName FROM Student WHERE Major = 1 AND Age = 3 AND Sex =',
 ' \n SELECT COUNT(*) FROM continents; ',
 '\n```\nSELECT continents.ContId, continents.Continent, COUNT(*) as num',
 ' \n SELECT COUNT(*) FROM countries; ',
 '\n```\nSELECT maker, COUNT(*) as num_models\nFROM car_makers\n',
 ' \n SELECT * FROM cars_data WHERE Horsepower = (SELECT MIN(Horse',
 ' \n SELECT \n     "Model" \nFROM \n     "car_names"',
 ' \n SELECT maker FROM car_names WHERE year = 1970; ',
 ' \n SELECT \n \tcar_names.Make, \n \tcars_',
 ' \n SELECT distinct(Model) FROM "car_names" WHERE "Year" > 1',
 '\n```\nSELECT continent, COUNT(*) as num_car_makers\nFROM car_m',
 '\n```\nSELECT maker, COUNT(*) as count\nFROM car_names\nJOIN car',
 ' \n SELECT mpg FROM cars_data WHERE Cylinders = 4; ',
 "\n```\nSELECT Country FROM flights WHERE Airline = 'JetBlue Airways';\n",
 "\n```\nSELECT Abbreviation FROM airlines WHERE Airline = 'JetBlue Airways",
 " \nSELECT Airline, Abbreviation FROM airlines WHERE Country = 'USA';",
 " \n SELECT AirportCode, AirportName FROM airports WHERE City = 'Anthony'; ",
 ' \n```\nSELECT COUNT(*) FROM airlines;\n```\n###  What is the',
 " \n SELECT AirportName, Country FROM airports WHERE AirportCode = 'AEX'; ",
 " \n```\nSELECT COUNT(*) FROM flights WHERE SourceAirport = 'Aberde",
 " \n```\nSELECT COUNT(*) FROM flights WHERE Airline = 'United Airlines';\n",
 ' \n```\nSELECT City, COUNT(*) as num_flights\nFROM flights\nGROUP',
 '\n```\nSELECT City, COUNT(*) as num_departing_flights\nFROM air',
 '\n```\nSELECT airports.AirportName, COUNT(*) as num_flights\n',
 " \nSELECT COUNT(*) FROM flights WHERE SourceAirport = 'ABZ' OR Dest",
 ' \n```\nSELECT COUNT(*) FROM employee;\n```\n###  How many shops',
 '\n SELECT * FROM employee WHERE Age > (SELECT AVG(Age) FROM employee);\n\n',
 ' \n```\nSELECT City, COUNT(*) as num_employees\nFROM hiring\n',
 ' \n SELECT City FROM employee WHERE Age < 30; ',
 ' \n SELECT Location, COUNT(*) as num_shops \n FROM shop \n GROUP BY',
 ' \nSELECT * FROM shop WHERE number_products > (SELECT AVG(number_products)',
 ' \nSELECT name FROM evaluation WHERE year_awarded = (SELECT MAX(year_a',
 ' \n SELECT name FROM employee WHERE bonus > (SELECT MAX(bonus) FROM evaluation); ',
 '\n```\nSELECT Employee_ID FROM hiring WHERE Is_full_time = 0;',
 '\n SELECT Shop_ID, COUNT(*) as num_employees\n FROM hiring\n',
 ' \n SELECT SUM(bonus) FROM evaluation; ',
 ' \nSELECT COUNT(*) FROM Documents; ',
 ' \nSELECT Documents.Document_ID, Documents.Document_Name, Documents.',
 '\n```\nSELECT Document_Name, Template_ID\nFROM Documents\nWHERE Document_Description',
 ' \n```\nSELECT Document_ID, Template_ID, Template_Description\nFROM Documents',
 ' \n SELECT COUNT(*) FROM Documents WHERE Template_ID IS NOT NULL; ',
 ' \nSELECT Template_Type_Code, COUNT(*) as num_docs\nFROM Documents\n',
 ' \nSELECT Template_ID FROM Templates WHERE EXISTS (SELECT 1 FROM Documents WHERE Template',
 ' \nSELECT Template_ID FROM Templates WHERE NOT EXISTS (SELECT 1 FROM Documents WHERE',
 ' \n```\nSELECT Template_Type_Code, COUNT(*) as num_templates\nFROM Tem',
 ' \nSELECT Template_Type_Code, COUNT(*) as num_of_documents \n',
 ' \nSELECT Template_Type_Code FROM Ref_Template_Types WHERE NOT EXISTS (SELECT ',
 ' \nSELECT Document_ID, Document_Name, COUNT(*) as Num_Paragraphs ',
 ' \n```\nSELECT COUNT(*) FROM teacher;\n```\n###  How many courses are',
 '\n SELECT "Teacher".* FROM "course_arrange" JOIN "teacher"',
 '\n SELECT "Teacher".* FROM "course_arrange" JOIN "teacher"',
 "\n```\nSELECT name FROM teacher WHERE hometown NOT LIKE '%Little Lever Urban District",
 '\n SELECT "Teacher".* FROM "course_arrange" JOIN "teacher"',
 '\n SELECT hometown FROM teacher WHERE age = (SELECT MIN(age) FROM teacher);',
 ' \n SELECT hometown FROM teacher WHERE grade = (SELECT MAX(grade) FROM course_',
 '\n SELECT "Teacher".* FROM "course_arrange" JOIN "teacher"',
 ' \n SELECT name FROM teacher WHERE course_id = (SELECT course_id FROM course_ar',
 '\n```\nSELECT COUNT(*) FROM visitor WHERE Age < 30;\n```\n###',
 '\n```\nSELECT visitor.Name, \n       (SELECT level_of_membership',
 '\n SELECT AVG(Age) FROM visitor WHERE Level_of_membership < 4',
 '\n```\nSELECT v.Name, v.Level_of_membership\nFROM visitor',
 '\n```\nSELECT Museum_ID, Name\nFROM museum\nGROUP BY Museum_ID\nORDER',
 ' \nSELECT \n    AVG(Num_of_Staff)\nFROM \n',
 "\n```\nSELECT name FROM museum WHERE open_year > '2010' AND staff",
 '\n```\nSELECT visitor.Name, visitor.Level_of_membership\nFROM visitor',
 '\n```\nSELECT name, COUNT(*) as num_visits\nFROM visit\nGROUP BY name',
 '\n select * from museum where num_of_staff = 0;\n\n###',
 '\n SELECT name, age FROM visitor WHERE num_of_ticket = (SELECT MAX(num',
 '\n```\nSELECT visitor.Name\nFROM visitor\nJOIN visit ON visitor.ID = visit',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 ' \n```\nSELECT \n  COUNT(*) \nFROM \n  ship \nWHERE',
 '\n```\nSELECT name, tonnage FROM ship ORDER BY name DESC;\n```\n##',
 '\n```\nSELECT name, date, result FROM battle;\n```\n###  List the',
 '\n```\nSELECT \n    MIN(death.killed), \n    MAX',
 '\n```\nSELECT \n  AVG(injured)\nFROM \n  death',
 '\n```\nSELECT id, name, COUNT(*) as num_killed\nFROM battle\nJ',
 '\n```\nSELECT ship.name, SUM(injured) AS total_injuries',
 ' \nSELECT * FROM battle; \n\n###  How many different results are there for',
 '\n```\nSELECT * FROM battle WHERE lost_in_battle = 0 AND tonn',
 '\n```\nSELECT name, date\nFROM battle\nWHERE lost_in_battle = (',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 '\n SELECT Title FROM Cartoon;\n\n###  List the title of all cartoons',
 '\n SELECT * FROM "Cartoon" WHERE "Directed_by" = \'Ben Jones\';',
 ' \n SELECT "Cartoon"."Title", "Cartoon"."Directed_by",',
 ' \n SELECT "Cartoon".* FROM "Cartoon" \n WHERE "Channel" =',
 '\n SELECT "Title" FROM "Cartoon" WHERE "Directed_by" = \'Ben',
 '\n SELECT Country, COUNT(*) as Number_of_Channels\n FROM TV_Channel\n GROUP',
 '\n SELECT COUNT(*) as num_series, DISTINCT series_name as series_names FROM',
 '\nSELECT Language, COUNT(*) as Number_of_TV_Channel\nFROM TV_Channel\n',
 '\n```\nSELECT * FROM TV_Channel WHERE NOT EXISTS (SELECT 1 FROM Cartoon WHERE',
 ' \n SELECT "TV_Channel".* FROM "TV_Channel" \n JOIN "TV',
 ' \n```\nSELECT COUNT(*) FROM poker_player;\n```\n###  What',
 '\n```\nSELECT * FROM poker_player WHERE Final_Table_Made = 1',
 '\nSELECT "Poker_Player_ID", "Final_Table_Made", "Best',
 ' \n```\nSELECT \n  AVG(Earnings)\nFROM \n ',
 '\n```\nSELECT * FROM poker_player WHERE Final_Table_Made = 1',
 '\n```\nSELECT * FROM poker_player WHERE Final_Table_Made = 1',
 '\n```\nSELECT * FROM poker_player WHERE Final_Table_Made = 1',
 '\n select "Money_Rank" from "poker_player" where "Final_',
 '\n select \n  nationality\n from \n  people\n where \n  final_',
 ' \n SELECT COUNT(*) FROM "VOTES" WHERE "state" = (SELECT "state',
 '\n  SELECT contestant_name, contestant_number \n  FROM CONTESTANTS',
 '\n  SELECT vote_id, phone_number, state FROM VOTES; ',
 '\n SELECT \n    MIN(area_code), \n    MAX(area_code',
 "\n```\nSELECT created FROM VOTES WHERE state = 'CA';\n```\n###",
 " \n SELECT contestant_number FROM VOTES WHERE contestant_name NOT = 'J",
 '\n SELECT contestant_number, contestant_name FROM VOTES WHERE votes < (SELECT',
 ' \n SELECT * FROM VOTES WHERE NOT EXISTS (SELECT 1 FROM AREA_',
 "\n SELECT area_code FROM VOTES WHERE state = 'CA';\n ",
 '\n```\nSELECT "CountryName", "IndepYear" FROM "country" WHERE "Ind',
 " \n```\nSELECT * FROM country WHERE GovernmentForm = 'Republic';\n```\n##",
 " \n SELECT SurfaceArea FROM country WHERE Region = 'Caribbean'; ",
 ' \n SELECT "Region" FROM "city" WHERE "Name" = \'Kabul\';',
 ' \n SELECT "Name", "Population", "LifeExpectancy", "GNP",',
 ' \n SELECT "Country".* FROM "country" WHERE "Country".Code = \'BR\';',
 ' \n SELECT "Name", "Continent", "Region", "Population" FROM "country',
 ' \n SELECT "Name" FROM "country" WHERE "LifeExpectancy" = (SELECT',
 '\n```\nSELECT * FROM country WHERE LifeExpectancy = (SELECT MAX(LifeExpect',
 ' \nSELECT continent, COUNT(*) as numLanguages, AVG(Percentage) as av',
 ' \n SELECT "Region" FROM "country" WHERE "Language" IN (\'English\', \'D',
 ' \n SELECT "Language" FROM "countrylanguage" WHERE "CountryCode" IN (SELECT "',
 ' \n SELECT COUNT(*) FROM conductor; ',
 '\n SELECT Name FROM conductor WHERE Age ASC;\n\n###  List the names of conduct',
 "\n```\nSELECT Name FROM conductor WHERE Nationality != 'USA';\n```\n###",
 '\n```\nSELECT \n  MIN(share),\n  MAX(share)\nFROM',
 '\n SELECT Name FROM conductor WHERE Year_of_Work = (SELECT MAX(Year_of',
 ' \n SELECT "Name" FROM "conductor" WHERE "Conductor_ID"',
 '\n SELECT Name FROM conductor WHERE FOREIGN KEY (`Conductor_ID`) IN (',
 '\n \n SELECT \n  COUNT(*) as num_orchestras, \n  r',
 '\n  SELECT "Orchestra".* FROM "orchestra" WHERE NOT EXISTS (SELECT 1',
 ' \n```\nSELECT * FROM orchestra \nWHERE Year_of_Founded BET',
 ' \n```\nSELECT COUNT(*) FROM Highschooler;\n```\n###  How many',
 ' \nSELECT Highschooler.name, Highschooler.grade \nFROM Highschooler',
 ' \nSELECT * FROM Highschooler;\n\n###  Show all the friends of a',
 ' SELECT grade FROM Highschooler WHERE student_id = 1;\n OUTPUT: \n',
 " \n```\nSELECT * FROM Highschooler WHERE grade = '9' OR grade = '",
 ' \nSELECT grade, COUNT(*) as num_students \nFROM Highschooler \n',
 ' \nSELECT grade.grade FROM (SELECT grade, COUNT(*) as num_students FROM High',
 ' \nSELECT student_id, COUNT(*) as num_friends \nFROM Friend \n',
 ' \nSELECT friend_id FROM Friend WHERE student_id = 1;\n\n###',
 ' \nSELECT student_id FROM Friend WHERE friend_id IS NULL;\n\n### Output',
 ' \nSELECT name FROM Likes WHERE liked_id = (SELECT MAX(liked_id',
 ' \nSELECT MIN(grade) FROM Highschooler WHERE NOT EXISTS (SELECT 1 FROM',
 ' \n SELECT \n  COUNT(*) as num_states\nFROM \n  Owners',
 ' \n SELECT AVG(age) FROM Dogs  WHERE exists (SELECT 1 FROM Tre',
 ' \n SELECT \n  professionals.last_name, \n  professionals.cell',
 ' \n SELECT \n    dogs.name \nFROM \n    Dogs \nIN',
 ' \n SELECT professional_id, role, email_address FROM Professionals WHERE NOT EXISTS (',
 ' \nSELECT owner_id, first_name, last_name FROM Owners WHERE owner',
 ' \n SELECT professional_id, role, first_name \n FROM Professionals \n',
 ' \n SELECT \n  professionals.professional_id, \n  professionals.',
 ' \n SELECT \n    Treatments.date_of_treatment, \n',
 ' \n SELECT COUNT(*) FROM `Dogs` \n LEFT JOIN `Treatments`',
 ' \n SELECT COUNT(*) FROM `Professionals` WHERE EXISTS (SELECT 1 FROM `',
 ' \n SELECT AVG(age) FROM Dogs; ',
 ' \n```\nSELECT COUNT(*) FROM singer;\n```\n###  What is the name',
 ' \n SELECT "Name" FROM "singer" WHERE "Net_Worth_Millions',
 '\n```\nSELECT "Singer".* FROM "singer" \nJOIN "song',
 '\n SELECT "Name" FROM "singer" WHERE "Citizenship" != \'',
 ' \n SELECT Name FROM singer WHERE Birth_Year = 1948 OR Birth',
 '\n SELECT Name, Net_Worth_Millions FROM singer WHERE Net_Worth_Mill',
 '\n SELECT citizenship FROM singer WHERE Net_Worth_Millions > 100;',
 ' \n SELECT "Singer_ID", "Citizenship" FROM "singer',
 ' \n SELECT "Name" FROM "singer" WHERE "Singer_ID" NOT IN',
 ' \n```\nSELECT COUNT(*) FROM Other_Available_Features;\n```\n###',
 ' \n```\nSELECT feature_type_name FROM Ref_Feature_Types WHERE feature_type',
 ' \n SELECT property_type_description FROM Ref_Property_Types WHERE property_type_code',
 ' \n```\nSELECT * FROM Properties WHERE room_count > 1 AND (property_type']

In [120]:
data['train']['llama_7b_complex']

[' \n SELECT COUNT(*) FROM singer; \n #  Output: \n #  5\n',
 ' \nSELECT name, country, age FROM singer WHERE age = (SELECT MIN(age)',
 '\n SELECT average(age), MIN(age), MAX(age) FROM singer WHERE country =',
 '\n SELECT Name, Song_release_year FROM singer WHERE Age < (SELECT MIN(Age',
 ' \n SELECT "Country" FROM "singer" WHERE "Age" > 20;',
 ' \n SELECT "Name" FROM "singer_in_concert" WHERE "Singer',
 ' \nSELECT name, capacity FROM stadium WHERE year > 2014; \n',
 '\n```\nSELECT name, capacity FROM stadium WHERE year > 2013;\n',
 ' \n SELECT \n   year(concerts.Year) as year, \n  ',
 ' \n SELECT "Name" FROM "stadium" WHERE "Stadium_ID" NOT',
 ' \nSELECT name, location FROM stadium WHERE exists (SELECT 1 FROM concert WHERE year =',
 ' \n```\nSELECT COUNT(*) FROM Has_Pet WHERE weight > 10;\n',
 ' \nSELECT weight FROM Pets WHERE Major = 1;\n\n### Output:\n',
 ' \nSELECT PetType, MAX(weight) \nFROM Pets \nGROUP BY Pet',
 ' \n```\nSELECT COUNT(*) FROM Has_Pet WHERE Student.Age > 20',
 " \nSELECT COUNT(*) FROM Has_Pet WHERE Sex = 'F' AND PetType =",
 ' \nSELECT DISTINCT PetType FROM Has_Pet; \n\n### Output',
 ' \nSELECT Fname FROM Student WHERE Major = 1 AND (SELECT COUNT(*) FROM Has_',
 ' \nSELECT Fname FROM Student WHERE Has_Pet.StuID = Student.St',
 '\n```\nSELECT Fname FROM Student WHERE Has_Pet.StuID IN (SELECT',
 " \nSELECT StuID FROM Has_Pet WHERE PetType = 'cat';\n\n##",
 ' \nSELECT LName FROM Student WHERE Major = 1 AND Age = 3 AND Sex =',
 ' \n SELECT COUNT(*) FROM continents; ',
 '\n```\nSELECT continents.ContId, continents.Continent, COUNT(*) as num',
 ' \n SELECT COUNT(*) FROM countries; ',
 '\n```\nSELECT maker, COUNT(*) as num_models\nFROM car_makers\n',
 ' \n SELECT * FROM cars_data WHERE Horsepower = (SELECT MIN(Horse',
 ' \n SELECT \n     "Model" \nFROM \n     "car_names"',
 ' \n SELECT maker FROM car_names WHERE year = 1970; ',
 ' \n SELECT \n \tcar_names.Make, \n \tcars_',
 ' \n SELECT distinct(Model) FROM "car_names" WHERE "Year" > 1',
 '\n```\nSELECT continent, COUNT(*) as num_car_makers\nFROM car_m',
 '\n```\nSELECT maker, COUNT(*) as count\nFROM car_names\nJOIN car',
 ' \n SELECT mpg FROM cars_data WHERE Cylinders = 4; ',
 "\n```\nSELECT Country FROM flights WHERE Airline = 'JetBlue Airways';\n",
 "\n```\nSELECT Abbreviation FROM airlines WHERE Airline = 'JetBlue Airways",
 " \nSELECT Airline, Abbreviation FROM airlines WHERE Country = 'USA';",
 " \n SELECT AirportCode, AirportName FROM airports WHERE City = 'Anthony'; ",
 ' \n```\nSELECT COUNT(*) FROM airlines;\n```\n###  What is the',
 " \n SELECT AirportName, Country FROM airports WHERE AirportCode = 'AEX'; ",
 " \n```\nSELECT COUNT(*) FROM flights WHERE SourceAirport = 'Aberde",
 " \n```\nSELECT COUNT(*) FROM flights WHERE Airline = 'United Airlines';\n",
 ' \n```\nSELECT City, COUNT(*) as num_flights\nFROM flights\nGROUP',
 '\n```\nSELECT City, COUNT(*) as num_departing_flights\nFROM air',
 '\n```\nSELECT airports.AirportName, COUNT(*) as num_flights\n',
 " \nSELECT COUNT(*) FROM flights WHERE SourceAirport = 'ABZ' OR Dest",
 ' \n```\nSELECT COUNT(*) FROM employee;\n```\n###  How many shops',
 '\n SELECT * FROM employee WHERE Age > (SELECT AVG(Age) FROM employee);\n\n',
 ' \n```\nSELECT City, COUNT(*) as num_employees\nFROM hiring\n',
 ' \n SELECT City FROM employee WHERE Age < 30; ',
 ' \n SELECT Location, COUNT(*) as num_shops \n FROM shop \n GROUP BY',
 ' \nSELECT * FROM shop WHERE number_products > (SELECT AVG(number_products)',
 ' \nSELECT name FROM evaluation WHERE year_awarded = (SELECT MAX(year_a',
 ' \n SELECT name FROM employee WHERE bonus > (SELECT MAX(bonus) FROM evaluation); ',
 '\n```\nSELECT Employee_ID FROM hiring WHERE Is_full_time = 0;',
 '\n SELECT Shop_ID, COUNT(*) as num_employees\n FROM hiring\n',
 ' \n SELECT SUM(bonus) FROM evaluation; ',
 ' \nSELECT COUNT(*) FROM Documents; ',
 ' \nSELECT Documents.Document_ID, Documents.Document_Name, Documents.',
 '\n```\nSELECT Document_Name, Template_ID\nFROM Documents\nWHERE Document_Description',
 ' \n```\nSELECT Document_ID, Template_ID, Template_Description\nFROM Documents',
 ' \n SELECT COUNT(*) FROM Documents WHERE Template_ID IS NOT NULL; ',
 ' \nSELECT Template_Type_Code, COUNT(*) as num_docs\nFROM Documents\n',
 ' \nSELECT Template_ID FROM Templates WHERE EXISTS (SELECT 1 FROM Documents WHERE Template',
 ' \nSELECT Template_ID FROM Templates WHERE NOT EXISTS (SELECT 1 FROM Documents WHERE',
 ' \n```\nSELECT Template_Type_Code, COUNT(*) as num_templates\nFROM Tem',
 ' \nSELECT Template_Type_Code, COUNT(*) as num_of_documents \n',
 ' \nSELECT Template_Type_Code FROM Ref_Template_Types WHERE NOT EXISTS (SELECT ',
 ' \nSELECT Document_ID, Document_Name, COUNT(*) as Num_Paragraphs ',
 ' \n```\nSELECT COUNT(*) FROM teacher;\n```\n###  How many courses are',
 '\n SELECT "Teacher".* FROM "course_arrange" JOIN "teacher"',
 '\n SELECT "Teacher".* FROM "course_arrange" JOIN "teacher"',
 "\n```\nSELECT name FROM teacher WHERE hometown NOT LIKE '%Little Lever Urban District",
 '\n SELECT "Teacher".* FROM "course_arrange" JOIN "teacher"',
 '\n SELECT hometown FROM teacher WHERE age = (SELECT MIN(age) FROM teacher);',
 ' \n SELECT hometown FROM teacher WHERE grade = (SELECT MAX(grade) FROM course_',
 '\n SELECT "Teacher".* FROM "course_arrange" JOIN "teacher"',
 ' \n SELECT name FROM teacher WHERE course_id = (SELECT course_id FROM course_ar',
 '\n```\nSELECT COUNT(*) FROM visitor WHERE Age < 30;\n```\n###',
 '\n```\nSELECT visitor.Name, \n       (SELECT level_of_membership',
 '\n SELECT AVG(Age) FROM visitor WHERE Level_of_membership < 4',
 '\n```\nSELECT v.Name, v.Level_of_membership\nFROM visitor',
 '\n```\nSELECT Museum_ID, Name\nFROM museum\nGROUP BY Museum_ID\nORDER',
 ' \nSELECT \n    AVG(Num_of_Staff)\nFROM \n',
 "\n```\nSELECT name FROM museum WHERE open_year > '2010' AND staff",
 '\n```\nSELECT visitor.Name, visitor.Level_of_membership\nFROM visitor',
 '\n```\nSELECT name, COUNT(*) as num_visits\nFROM visit\nGROUP BY name',
 '\n select * from museum where num_of_staff = 0;\n\n###',
 '\n SELECT name, age FROM visitor WHERE num_of_ticket = (SELECT MAX(num',
 '\n```\nSELECT visitor.Name\nFROM visitor\nJOIN visit ON visitor.ID = visit',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 ' \n```\nSELECT \n  COUNT(*) \nFROM \n  ship \nWHERE',
 '\n```\nSELECT name, tonnage FROM ship ORDER BY name DESC;\n```\n##',
 '\n```\nSELECT name, date, result FROM battle;\n```\n###  List the',
 '\n```\nSELECT \n    MIN(death.killed), \n    MAX',
 '\n```\nSELECT \n  AVG(injured)\nFROM \n  death',
 '\n```\nSELECT id, name, COUNT(*) as num_killed\nFROM battle\nJ',
 '\n```\nSELECT ship.name, SUM(injured) AS total_injuries',
 ' \nSELECT * FROM battle; \n\n###  How many different results are there for',
 '\n```\nSELECT * FROM battle WHERE lost_in_battle = 0 AND tonn',
 '\n```\nSELECT name, date\nFROM battle\nWHERE lost_in_battle = (',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 '\n SELECT Title FROM Cartoon;\n\n###  List the title of all cartoons',
 '\n SELECT * FROM "Cartoon" WHERE "Directed_by" = \'Ben Jones\';',
 ' \n SELECT "Cartoon"."Title", "Cartoon"."Directed_by",',
 ' \n SELECT "Cartoon".* FROM "Cartoon" \n WHERE "Channel" =',
 '\n SELECT "Title" FROM "Cartoon" WHERE "Directed_by" = \'Ben',
 '\n SELECT Country, COUNT(*) as Number_of_Channels\n FROM TV_Channel\n GROUP',
 '\n SELECT COUNT(*) as num_series, DISTINCT series_name as series_names FROM',
 '\nSELECT Language, COUNT(*) as Number_of_TV_Channel\nFROM TV_Channel\n',
 '\n```\nSELECT * FROM TV_Channel WHERE NOT EXISTS (SELECT 1 FROM Cartoon WHERE',
 ' \n SELECT "TV_Channel".* FROM "TV_Channel" \n JOIN "TV',
 ' \n```\nSELECT COUNT(*) FROM poker_player;\n```\n###  What',
 '\n```\nSELECT * FROM poker_player WHERE Final_Table_Made = 1',
 '\nSELECT "Poker_Player_ID", "Final_Table_Made", "Best',
 ' \n```\nSELECT \n  AVG(Earnings)\nFROM \n ',
 '\n```\nSELECT * FROM poker_player WHERE Final_Table_Made = 1',
 '\n```\nSELECT * FROM poker_player WHERE Final_Table_Made = 1',
 '\n```\nSELECT * FROM poker_player WHERE Final_Table_Made = 1',
 '\n select "Money_Rank" from "poker_player" where "Final_',
 '\n select \n  nationality\n from \n  people\n where \n  final_',
 ' \n SELECT COUNT(*) FROM "VOTES" WHERE "state" = (SELECT "state',
 '\n  SELECT contestant_name, contestant_number \n  FROM CONTESTANTS',
 '\n  SELECT vote_id, phone_number, state FROM VOTES; ',
 '\n SELECT \n    MIN(area_code), \n    MAX(area_code',
 "\n```\nSELECT created FROM VOTES WHERE state = 'CA';\n```\n###",
 " \n SELECT contestant_number FROM VOTES WHERE contestant_name NOT = 'J",
 '\n SELECT contestant_number, contestant_name FROM VOTES WHERE votes < (SELECT',
 ' \n SELECT * FROM VOTES WHERE NOT EXISTS (SELECT 1 FROM AREA_',
 "\n SELECT area_code FROM VOTES WHERE state = 'CA';\n ",
 '\n```\nSELECT "CountryName", "IndepYear" FROM "country" WHERE "Ind',
 " \n```\nSELECT * FROM country WHERE GovernmentForm = 'Republic';\n```\n##",
 " \n SELECT SurfaceArea FROM country WHERE Region = 'Caribbean'; ",
 ' \n SELECT "Region" FROM "city" WHERE "Name" = \'Kabul\';',
 ' \n SELECT "Name", "Population", "LifeExpectancy", "GNP",',
 ' \n SELECT "Country".* FROM "country" WHERE "Country".Code = \'BR\';',
 ' \n SELECT "Name", "Continent", "Region", "Population" FROM "country',
 ' \n SELECT "Name" FROM "country" WHERE "LifeExpectancy" = (SELECT',
 '\n```\nSELECT * FROM country WHERE LifeExpectancy = (SELECT MAX(LifeExpect',
 ' \nSELECT continent, COUNT(*) as numLanguages, AVG(Percentage) as av',
 ' \n SELECT "Region" FROM "country" WHERE "Language" IN (\'English\', \'D',
 ' \n SELECT "Language" FROM "countrylanguage" WHERE "CountryCode" IN (SELECT "',
 ' \n SELECT COUNT(*) FROM conductor; ',
 '\n SELECT Name FROM conductor WHERE Age ASC;\n\n###  List the names of conduct',
 "\n```\nSELECT Name FROM conductor WHERE Nationality != 'USA';\n```\n###",
 '\n```\nSELECT \n  MIN(share),\n  MAX(share)\nFROM',
 '\n SELECT Name FROM conductor WHERE Year_of_Work = (SELECT MAX(Year_of',
 ' \n SELECT "Name" FROM "conductor" WHERE "Conductor_ID"',
 '\n SELECT Name FROM conductor WHERE FOREIGN KEY (`Conductor_ID`) IN (',
 '\n \n SELECT \n  COUNT(*) as num_orchestras, \n  r',
 '\n  SELECT "Orchestra".* FROM "orchestra" WHERE NOT EXISTS (SELECT 1',
 ' \n```\nSELECT * FROM orchestra \nWHERE Year_of_Founded BET',
 ' \n```\nSELECT COUNT(*) FROM Highschooler;\n```\n###  How many',
 ' \nSELECT Highschooler.name, Highschooler.grade \nFROM Highschooler',
 ' \nSELECT * FROM Highschooler;\n\n###  Show all the friends of a',
 ' SELECT grade FROM Highschooler WHERE student_id = 1;\n OUTPUT: \n',
 " \n```\nSELECT * FROM Highschooler WHERE grade = '9' OR grade = '",
 ' \nSELECT grade, COUNT(*) as num_students \nFROM Highschooler \n',
 ' \nSELECT grade.grade FROM (SELECT grade, COUNT(*) as num_students FROM High',
 ' \nSELECT student_id, COUNT(*) as num_friends \nFROM Friend \n',
 ' \nSELECT friend_id FROM Friend WHERE student_id = 1;\n\n###',
 ' \nSELECT student_id FROM Friend WHERE friend_id IS NULL;\n\n### Output',
 ' \nSELECT name FROM Likes WHERE liked_id = (SELECT MAX(liked_id',
 ' \nSELECT MIN(grade) FROM Highschooler WHERE NOT EXISTS (SELECT 1 FROM',
 ' \n SELECT \n  COUNT(*) as num_states\nFROM \n  Owners',
 ' \n SELECT AVG(age) FROM Dogs  WHERE exists (SELECT 1 FROM Tre',
 ' \n SELECT \n  professionals.last_name, \n  professionals.cell',
 ' \n SELECT \n    dogs.name \nFROM \n    Dogs \nIN',
 ' \n SELECT professional_id, role, email_address FROM Professionals WHERE NOT EXISTS (',
 ' \nSELECT owner_id, first_name, last_name FROM Owners WHERE owner',
 ' \n SELECT professional_id, role, first_name \n FROM Professionals \n',
 ' \n SELECT \n  professionals.professional_id, \n  professionals.',
 ' \n SELECT \n    Treatments.date_of_treatment, \n',
 ' \n SELECT COUNT(*) FROM `Dogs` \n LEFT JOIN `Treatments`',
 ' \n SELECT COUNT(*) FROM `Professionals` WHERE EXISTS (SELECT 1 FROM `',
 ' \n SELECT AVG(age) FROM Dogs; ',
 ' \n```\nSELECT COUNT(*) FROM singer;\n```\n###  What is the name',
 ' \n SELECT "Name" FROM "singer" WHERE "Net_Worth_Millions',
 '\n```\nSELECT "Singer".* FROM "singer" \nJOIN "song',
 '\n SELECT "Name" FROM "singer" WHERE "Citizenship" != \'',
 ' \n SELECT Name FROM singer WHERE Birth_Year = 1948 OR Birth',
 '\n SELECT Name, Net_Worth_Millions FROM singer WHERE Net_Worth_Mill',
 '\n SELECT citizenship FROM singer WHERE Net_Worth_Millions > 100;',
 ' \n SELECT "Singer_ID", "Citizenship" FROM "singer',
 ' \n SELECT "Name" FROM "singer" WHERE "Singer_ID" NOT IN',
 ' \n```\nSELECT COUNT(*) FROM Other_Available_Features;\n```\n###',
 ' \n```\nSELECT feature_type_name FROM Ref_Feature_Types WHERE feature_type',
 ' \n SELECT property_type_description FROM Ref_Property_Types WHERE property_type_code',
 ' \n```\nSELECT * FROM Properties WHERE room_count > 1 AND (property_type']

In [5]:
#data = DatasetDict.load_from_disk('draft/llama_7b_complex')

In [7]:
#data.save_to_disk('draft/data_7b_predictions')

Saving the dataset (0/1 shards):   0%|          | 0/209 [00:00<?, ? examples/s]

# OpenAI 👑

In [12]:
strings = [
    '### Complete sqlite SQL query only and with no explanation, and do not select extra columns that are not explicitly requested in the query.\n',
    '### Sqlite SQL tables, with their properties:\n',
    '#\n',
    '# ', # create statement goes here (index 4)
    '\n', 
    '#\n',
    '### ', # question goes here (index 8) - must account for prior insertion
    '\n', 
    'SQL QUERY:',
]

complex_prompt = strings[0] + strings[1] + strings[2] + strings[3]
complex_prompt

'### Complete sqlite SQL query only and with no explanation, and do not select extra columns that are not explicitly requested in the query.\n### Sqlite SQL tables, with their properties:\n#\n# '

In [13]:
"Provide the SQL query that answers the QUESTION, with no explanation or special characters. CONTEXT: Relevant SQL tables, with their properties: {create_statement} QUESTION: {question} "

'Provide the SQL query that answers the QUESTION, with no explanation or special characters. CONTEXT: Relevant SQL tables, with their properties: {create_statement} QUESTION: {question} '

In [14]:
openai.api_key = OPENAI_API_KEY

In [82]:
def openai_sql_request_structure(
    user_prompt: str,
    system_context: str,
) -> List[Dict[str, str]]:
    
    # if system_context is None:
    #     system_context = self.prompts._openai_sql_request_structure_prompt
    
    message = [
        {"role": "system", "content": system_context},
        {"role": "user", "content": f'{user_prompt}'},
        # {"role": "user", "content": f'Context: {user_context}\n\nQuestion": {user_question}'},
    ]

    return message

def openai_sql_request(
    openai, 
    user_prompt: str,
    system_context: str,
    model: Optional[str] = "gpt-3.5-turbo", # TODO: consider using an enum for this
) -> Optional[OpenAIObject]:

    message = openai_sql_request_structure(user_prompt, system_context)

    try: 
        request = openai.ChatCompletion.create(
            model=model, 
            messages=message,
        )
    except Exception as e:
        print(f"OpenAI request failed with error: {e}")
        #raise e    
        request = 'INVESTIGATE'

    # if validate_response:
    #     return openai_sql_response(request)

    return request

def dataset_openai_sql_request(
    dataset: Dataset,
    user_prompt_column: str,
    system_context: str,
    response_column: str,
    model: Optional[str] = "gpt-3.5-turbo", # TODO: consider using an enum for this
) -> Optional[OpenAIObject]:

    user_prompt = dataset[user_prompt_column]

    request = openai_sql_request(
        openai=openai,
        user_prompt=user_prompt,
        system_context=system_context,
        model=model,
    )

    return {response_column: request}

In [69]:
data_0_50 = data['train'].select(range(0, 50))
data_50_100 = data['train'].select(range(50, 100))
data_100_150 = data['train'].select(range(100, 150))
data_150_200 = data['train'].select(range(150, 200))
data_200_ = data['train'].select(range(200, len(data['train'])))

system_prompt = 'You are a SQL coder that only responds with SQL queries.'

time.sleep(60)

In [72]:
data_0_25 = data['train'].select(range(0, 25))
data_25_50 = data['train'].select(range(25, 50))
data_50_75 = data['train'].select(range(50, 75))
data_75_100 = data['train'].select(range(75, 100))
data_100_125 = data['train'].select(range(100, 125))
data_125_150 = data['train'].select(range(125, 150))
data_150_175 = data['train'].select(range(150, 175))
data_175_200 = data['train'].select(range(175, 200))
data_200_ = data['train'].select(range(200, len(data['train'])))

system_prompt = 'You are a SQL coder that only responds with SQL queries.'

time.sleep(60)

In [73]:
data_0_25 = data_0_25.map(dataset_openai_sql_request, fn_kwargs= {"user_prompt_column":  'zero_shot_request_complex', "system_context": system_prompt, "response_column": 'gpt_3_5_complex'}, load_from_cache_file=False)
time.sleep(60)

data_25_50 = data_25_50.map(dataset_openai_sql_request, fn_kwargs= {"user_prompt_column":  'zero_shot_request_complex', "system_context": system_prompt, "response_column": 'gpt_3_5_complex'}, load_from_cache_file=False)
time.sleep(60)

Map:   0%|          | 0/25 [00:00<?, ? examples/s]

Map:   0%|          | 0/25 [00:00<?, ? examples/s]

In [74]:
data_50_75 = data_50_75.map(dataset_openai_sql_request, fn_kwargs= {"user_prompt_column":  'zero_shot_request_complex', "system_context": system_prompt, "response_column": 'gpt_3_5_complex'}, load_from_cache_file=False)
time.sleep(60)

data_75_100 = data_75_100.map(dataset_openai_sql_request, fn_kwargs= {"user_prompt_column":  'zero_shot_request_complex', "system_context": system_prompt, "response_column": 'gpt_3_5_complex'}, load_from_cache_file=False)
time.sleep(60)

Map:   0%|          | 0/25 [00:00<?, ? examples/s]

Map:   0%|          | 0/25 [00:00<?, ? examples/s]

In [75]:
data_100_125 = data_100_125.map(dataset_openai_sql_request, fn_kwargs= {"user_prompt_column":  'zero_shot_request_complex', "system_context": system_prompt, "response_column": 'gpt_3_5_complex'}, load_from_cache_file=False)
time.sleep(60)

data_125_150 = data_125_150.map(dataset_openai_sql_request, fn_kwargs= {"user_prompt_column":  'zero_shot_request_complex', "system_context": system_prompt, "response_column": 'gpt_3_5_complex'}, load_from_cache_file=False)
time.sleep(60)

Map:   0%|          | 0/25 [00:00<?, ? examples/s]

Map:   0%|          | 0/25 [00:00<?, ? examples/s]

In [76]:
data_150_175 = data_150_175.map(dataset_openai_sql_request, fn_kwargs= {"user_prompt_column":  'zero_shot_request_complex', "system_context": system_prompt, "response_column": 'gpt_3_5_complex'}, load_from_cache_file=False)
time.sleep(60)

data_175_200 = data_175_200.map(dataset_openai_sql_request, fn_kwargs= {"user_prompt_column":  'zero_shot_request_complex', "system_context": system_prompt, "response_column": 'gpt_3_5_complex'}, load_from_cache_file=False)
time.sleep(60)

Map:   0%|          | 0/25 [00:00<?, ? examples/s]

Map:   0%|          | 0/25 [00:00<?, ? examples/s]

In [77]:
data_200_ = data_200_.map(dataset_openai_sql_request, fn_kwargs= {"user_prompt_column":  'zero_shot_request_complex', "system_context": system_prompt, "response_column": 'gpt_3_5_complex'}, load_from_cache_file=False)
time.sleep(60)

Map:   0%|          | 0/9 [00:00<?, ? examples/s]

In [78]:
data_gpt = datasets.concatenate_datasets([data_0_25, data_25_50, data_50_75, data_75_100, data_100_125, data_125_150, data_150_175, data_175_200, data_200_])

data_gpt.save_to_disk('draft/data_gpt_3_5_complex')

Saving the dataset (0/1 shards):   0%|          | 0/209 [00:00<?, ? examples/s]

In [80]:
data_gpt

Dataset({
    features: ['db_id', 'query', 'question', 'create_w_keys', 'create_wo_keys', 'difficulty', 'zero_shot_request', 'defog_sqlcoder_7b', 'defog_sqlcoder_7b_latency', 'mistral_7b_instruct', 'mistral_7b_instruct_latency', 'llama_7b', 'llama_7b_latency', 'zero_shot_request_complex', 'mistral_7b_instruct_complex', 'mistral_7b_instruct_complex_latency', 'defog_sqlcoder_7b_complex', 'defog_sqlcoder_7b_complex_latency', 'llama_7b_complex', 'llama_7b_complex_latency', 'gpt_3_5_complex'],
    num_rows: 209
})

In [83]:
data_0_25 = data_0_25.map(dataset_openai_sql_request, fn_kwargs= {"user_prompt_column":  'zero_shot_request', "system_context": system_prompt, "response_column": 'gpt_3_5'}, load_from_cache_file=False)
time.sleep(60)

data_25_50 = data_25_50.map(dataset_openai_sql_request, fn_kwargs= {"user_prompt_column":  'zero_shot_request', "system_context": system_prompt, "response_column": 'gpt_3_5'}, load_from_cache_file=False)
time.sleep(60)

Map:   0%|          | 0/25 [00:00<?, ? examples/s]

Map:   0%|          | 0/25 [00:00<?, ? examples/s]

In [84]:
data_50_75 = data_50_75.map(dataset_openai_sql_request, fn_kwargs= {"user_prompt_column":  'zero_shot_request', "system_context": system_prompt, "response_column": 'gpt_3_5'}, load_from_cache_file=False)
time.sleep(60)

data_75_100 = data_75_100.map(dataset_openai_sql_request, fn_kwargs= {"user_prompt_column":  'zero_shot_request', "system_context": system_prompt, "response_column": 'gpt_3_5'}, load_from_cache_file=False)
time.sleep(60)

Map:   0%|          | 0/25 [00:00<?, ? examples/s]

Map:   0%|          | 0/25 [00:00<?, ? examples/s]

In [86]:
time.sleep(60)
data_100_125 = data_100_125.map(dataset_openai_sql_request, fn_kwargs= {"user_prompt_column":  'zero_shot_request', "system_context": system_prompt, "response_column": 'gpt_3_5'}, load_from_cache_file=False)
time.sleep(60)

data_125_150 = data_125_150.map(dataset_openai_sql_request, fn_kwargs= {"user_prompt_column":  'zero_shot_request', "system_context": system_prompt, "response_column": 'gpt_3_5'}, load_from_cache_file=False)
time.sleep(60)

Map:   0%|          | 0/25 [00:00<?, ? examples/s]

Map:   0%|          | 0/25 [00:00<?, ? examples/s]

In [90]:
data_150_175 = data_150_175.map(dataset_openai_sql_request, fn_kwargs= {"user_prompt_column":  'zero_shot_request', "system_context": system_prompt, "response_column": 'gpt_3_5'}, load_from_cache_file=False)
time.sleep(60)

data_175_200 = data_175_200.map(dataset_openai_sql_request, fn_kwargs= {"user_prompt_column":  'zero_shot_request', "system_context": system_prompt, "response_column": 'gpt_3_5'}, load_from_cache_file=False)
time.sleep(60)

Map:   0%|          | 0/25 [00:00<?, ? examples/s]

Map:   0%|          | 0/25 [00:00<?, ? examples/s]

In [91]:
data_200_ = data_200_.map(dataset_openai_sql_request, fn_kwargs= {"user_prompt_column":  'zero_shot_request', "system_context": system_prompt, "response_column": 'gpt_3_5'}, load_from_cache_file=False)

Map:   0%|          | 0/9 [00:00<?, ? examples/s]

In [92]:
data_gpt = datasets.concatenate_datasets([data_0_25, data_25_50, data_50_75, data_75_100, data_100_125, data_125_150, data_150_175, data_175_200, data_200_])

# data_gpt.save_to_disk('draft/data_gpt_3_5')

Saving the dataset (0/1 shards):   0%|          | 0/209 [00:00<?, ? examples/s]

In [135]:
data_gpt.save_to_disk('draft/all_predictions')

Saving the dataset (0/1 shards):   0%|          | 0/209 [00:00<?, ? examples/s]

In [126]:
def extract_openai_response(
    dataset, 
    response_column: str,
    new_column: str,
):
    try:
        response = data_gpt[response_column]
        query = response['choices'][0]['message']['content']
    except:
        query = 'INVESTIGATE'

    return {new_column: query}

In [127]:
data_gpt.map(extract_openai_response, fn_kwargs= {"response_column":  'gpt_3_5', "new_column": 'gpt_3_5_query'}, load_from_cache_file=False)['gpt_3_5_query']

Map:   0%|          | 0/209 [00:00<?, ? examples/s]

['INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE',
 'INVESTIGATE']

In [128]:
data_gpt[1]['gpt_3_5_complex']['choices'][0]['message']['content']

'SELECT Name, Country, Age \nFROM singer \nORDER BY Age DESC;'

In [100]:
data_gpt[1]

{'db_id': 'concert_singer',
 'query': 'SELECT name ,  country ,  age FROM singer ORDER BY age DESC',
 'question': 'Show name, country, age for all singers ordered by age from the oldest to the youngest.',
 'create_w_keys': 'CREATE TABLE "stadium" ( "Stadium_ID" int, "Location" text, "Name" text, "Capacity" int, "Highest" int, "Lowest" int, "Average" int, PRIMARY KEY ("Stadium_ID") ); CREATE TABLE "singer" ( "Singer_ID" int, "Name" text, "Country" text, "Song_Name" text, "Song_release_year" text, "Age" int, "Is_male" bool, PRIMARY KEY ("Singer_ID") ); CREATE TABLE "concert" ( "concert_ID" int, "concert_Name" text, "Theme" text, "Stadium_ID" text, "Year" text, PRIMARY KEY ("concert_ID"), FOREIGN KEY ("Stadium_ID") REFERENCES "stadium"("Stadium_ID") ); CREATE TABLE "singer_in_concert" ( "concert_ID" int, "Singer_ID" text, PRIMARY KEY ("concert_ID","Singer_ID"), FOREIGN KEY ("concert_ID") REFERENCES "concert"("concert_ID"), FOREIGN KEY ("Singer_ID") REFERENCES "singer"("Singer_ID") ); ',
 'create_wo_keys': 'CREATE TABLE stadium (Stadium_ID INT, Location TEXT, Name TEXT, Capacity INT, Highest INT, Lowest INT, Average INT); CREATE TABLE singer (Singer_ID INT, Name TEXT, Country TEXT, Song_Name TEXT, Song_release_year TEXT, Age INT, Is_male bool); CREATE TABLE concert (concert_ID INT, concert_Name TEXT, Theme TEXT, Stadium_ID TEXT, Year TEXT); CREATE TABLE singer_in_concert (concert_ID INT, Singer_ID TEXT); ',
 'difficulty': 'medium',
 'zero_shot_request': 'Provide the SQL query that answers the QUESTION, with no explanation or special characters. CONTEXT: Relevant SQL tables, with their properties: CREATE TABLE "stadium" ( "Stadium_ID" int, "Location" text, "Name" text, "Capacity" int, "Highest" int, "Lowest" int, "Average" int, PRIMARY KEY ("Stadium_ID") ); CREATE TABLE "singer" ( "Singer_ID" int, "Name" text, "Country" text, "Song_Name" text, "Song_release_year" text, "Age" int, "Is_male" bool, PRIMARY KEY ("Singer_ID") ); CREATE TABLE "concert" ( "concert_ID" int, "concert_Name" text, "Theme" text, "Stadium_ID" text, "Year" text, PRIMARY KEY ("concert_ID"), FOREIGN KEY ("Stadium_ID") REFERENCES "stadium"("Stadium_ID") ); CREATE TABLE "singer_in_concert" ( "concert_ID" int, "Singer_ID" text, PRIMARY KEY ("concert_ID","Singer_ID"), FOREIGN KEY ("concert_ID") REFERENCES "concert"("concert_ID"), FOREIGN KEY ("Singer_ID") REFERENCES "singer"("Singer_ID") );  QUESTION: Show name, country, age for all singers ordered by age from the oldest to the youngest. ',
 'defog_sqlcoder_7b': ' SELECT singer.name, singer.country, singer.age FROM singer ORDER BY singer',
 'defog_sqlcoder_7b_latency': 0.907311201095581,
 'mistral_7b_instruct': '\n\nSELECT Singer_Name, Country, Age FROM singer ORDER BY Age DESC;',
 'mistral_7b_instruct_latency': 0.9165787696838379,
 'llama_7b': '',
 'llama_7b_latency': 0.20595407485961914,
 'zero_shot_request_complex': '### Complete sqlite SQL query only and with no explanation, and do not select extra columns that are not explicitly requested in the query.\n ### Sqlite SQL tables, with their properties:\n #\n #  CREATE TABLE "stadium" ( "Stadium_ID" int, "Location" text, "Name" text, "Capacity" int, "Highest" int, "Lowest" int, "Average" int, PRIMARY KEY ("Stadium_ID") ); CREATE TABLE "singer" ( "Singer_ID" int, "Name" text, "Country" text, "Song_Name" text, "Song_release_year" text, "Age" int, "Is_male" bool, PRIMARY KEY ("Singer_ID") ); CREATE TABLE "concert" ( "concert_ID" int, "concert_Name" text, "Theme" text, "Stadium_ID" text, "Year" text, PRIMARY KEY ("concert_ID"), FOREIGN KEY ("Stadium_ID") REFERENCES "stadium"("Stadium_ID") ); CREATE TABLE "singer_in_concert" ( "concert_ID" int, "Singer_ID" text, PRIMARY KEY ("concert_ID","Singer_ID"), FOREIGN KEY ("concert_ID") REFERENCES "concert"("concert_ID"), FOREIGN KEY ("Singer_ID") REFERENCES "singer"("Singer_ID") );  \n #\n ###  Show name, country, age for all singers ordered by age from the oldest to the youngest. \n SQL QUERY:',
 'mistral_7b_instruct_complex': '\n SELECT Name, Country, Age FROM singer ORDER BY Age DESC;',
 'mistral_7b_instruct_complex_latency': 0.8159871101379395,
 'defog_sqlcoder_7b_complex': ' SELECT singer.name, singer.country, singer.age FROM singer ORDER BY singer.',
 'defog_sqlcoder_7b_complex_latency': 0.8989150524139404,
 'llama_7b_complex': ' \nSELECT name, country, age FROM singer WHERE age = (SELECT MIN(age)',
 'llama_7b_complex_latency': 0.8686990737915039,
 'gpt_3_5_complex': {'choices': [{'finish_reason': 'stop',
    'index': 0,
    'message': {'content': 'SELECT Name, Country, Age \nFROM singer \nORDER BY Age DESC;',
     'role': 'assistant'}}],
  'created': 1698206191,
  'id': 'chatcmpl-8DPINm9jPsnj5JUpPevloqR1M2eK7',
  'model': 'gpt-3.5-turbo-0613',
  'object': 'chat.completion',
  'usage': {'completion_tokens': 15,
   'prompt_tokens': 322,
   'total_tokens': 337}},
 'gpt_3_5': {'choices': [{'finish_reason': 'stop',
    'index': 0,
    'message': {'content': 'SELECT Name, Country, Age\nFROM singer\nORDER BY Age DESC;',
     'role': 'assistant'}}],
  'created': 1698230610,
  'id': 'chatcmpl-8DVeE6iPDm2vKGcdwMDxpF1dYW7jI',
  'model': 'gpt-3.5-turbo-0613',
  'object': 'chat.completion',
  'usage': {'completion_tokens': 15,
   'prompt_tokens': 305,
   'total_tokens': 320}}}

In [49]:
system_prompt = 'You are a SQL coder that only responds with SQL queries.'

resp = openai_sql_request(
    openai = openai, 
    user_prompt=data['train'][1]['zero_shot_request'], 
    system_context=system_prompt,
    )

In [51]:
resp

<OpenAIObject chat.completion id=chatcmpl-8DObxn7mUAVGk3sSFZ1w7OI41a8vw at 0x13fa97290> JSON: {
  "id": "chatcmpl-8DObxn7mUAVGk3sSFZ1w7OI41a8vw",
  "object": "chat.completion",
  "created": 1698203561,
  "model": "gpt-3.5-turbo-0613",
  "choices": [
    {
      "index": 0,
      "message": {
        "role": "assistant",
        "content": "SELECT Name, Country, Age\nFROM singer\nORDER BY Age DESC"
      },
      "finish_reason": "stop"
    }
  ],
  "usage": {
    "prompt_tokens": 305,
    "completion_tokens": 14,
    "total_tokens": 319
  }
}

In [50]:
resp.to_dict()['choices'][0].to_dict()['message'].to_dict()['content']

'SELECT Name, Country, Age\nFROM singer\nORDER BY Age DESC'

In [48]:
resp = resp.to_dict()
resp = resp['choices'][0].to_dict()

{'index': 0,
 'message': <OpenAIObject at 0x13fa970b0> JSON: {
   "role": "assistant",
   "content": "SELECT Name, Country, Age\nFROM singer\nORDER BY Age DESC;"
 },
 'finish_reason': 'stop'}

In [47]:
resp['choices'][0].to_dict()['message'].to_dict()['content']

KeyError: 'choices'

In [16]:
data['train'][0]

{'db_id': 'concert_singer',
 'query': 'SELECT count(*) FROM singer',
 'question': 'How many singers do we have?',
 'create_w_keys': 'CREATE TABLE "stadium" ( "Stadium_ID" int, "Location" text, "Name" text, "Capacity" int, "Highest" int, "Lowest" int, "Average" int, PRIMARY KEY ("Stadium_ID") ); CREATE TABLE "singer" ( "Singer_ID" int, "Name" text, "Country" text, "Song_Name" text, "Song_release_year" text, "Age" int, "Is_male" bool, PRIMARY KEY ("Singer_ID") ); CREATE TABLE "concert" ( "concert_ID" int, "concert_Name" text, "Theme" text, "Stadium_ID" text, "Year" text, PRIMARY KEY ("concert_ID"), FOREIGN KEY ("Stadium_ID") REFERENCES "stadium"("Stadium_ID") ); CREATE TABLE "singer_in_concert" ( "concert_ID" int, "Singer_ID" text, PRIMARY KEY ("concert_ID","Singer_ID"), FOREIGN KEY ("concert_ID") REFERENCES "concert"("concert_ID"), FOREIGN KEY ("Singer_ID") REFERENCES "singer"("Singer_ID") ); ',
 'create_wo_keys': 'CREATE TABLE stadium (Stadium_ID INT, Location TEXT, Name TEXT, Capacity INT, Highest INT, Lowest INT, Average INT); CREATE TABLE singer (Singer_ID INT, Name TEXT, Country TEXT, Song_Name TEXT, Song_release_year TEXT, Age INT, Is_male bool); CREATE TABLE concert (concert_ID INT, concert_Name TEXT, Theme TEXT, Stadium_ID TEXT, Year TEXT); CREATE TABLE singer_in_concert (concert_ID INT, Singer_ID TEXT); ',
 'difficulty': 'easy',
 'zero_shot_request': 'Provide the SQL query that answers the QUESTION, with no explanation or special characters. CONTEXT: Relevant SQL tables, with their properties: CREATE TABLE "stadium" ( "Stadium_ID" int, "Location" text, "Name" text, "Capacity" int, "Highest" int, "Lowest" int, "Average" int, PRIMARY KEY ("Stadium_ID") ); CREATE TABLE "singer" ( "Singer_ID" int, "Name" text, "Country" text, "Song_Name" text, "Song_release_year" text, "Age" int, "Is_male" bool, PRIMARY KEY ("Singer_ID") ); CREATE TABLE "concert" ( "concert_ID" int, "concert_Name" text, "Theme" text, "Stadium_ID" text, "Year" text, PRIMARY KEY ("concert_ID"), FOREIGN KEY ("Stadium_ID") REFERENCES "stadium"("Stadium_ID") ); CREATE TABLE "singer_in_concert" ( "concert_ID" int, "Singer_ID" text, PRIMARY KEY ("concert_ID","Singer_ID"), FOREIGN KEY ("concert_ID") REFERENCES "concert"("concert_ID"), FOREIGN KEY ("Singer_ID") REFERENCES "singer"("Singer_ID") );  QUESTION: How many singers do we have? ',
 'defog_sqlcoder_7b': ' SELECT COUNT(*) FROM singer;',
 'defog_sqlcoder_7b_latency': 0.666999101638794,
 'mistral_7b_instruct': '\n\nSELECT COUNT(*) FROM singer;',
 'mistral_7b_instruct_latency': 0.7579638957977295,
 'llama_7b': '',
 'llama_7b_latency': 0.3805580139160156,
 'zero_shot_request_complex': '### Complete sqlite SQL query only and with no explanation, and do not select extra columns that are not explicitly requested in the query.\n ### Sqlite SQL tables, with their properties:\n #\n #  CREATE TABLE "stadium" ( "Stadium_ID" int, "Location" text, "Name" text, "Capacity" int, "Highest" int, "Lowest" int, "Average" int, PRIMARY KEY ("Stadium_ID") ); CREATE TABLE "singer" ( "Singer_ID" int, "Name" text, "Country" text, "Song_Name" text, "Song_release_year" text, "Age" int, "Is_male" bool, PRIMARY KEY ("Singer_ID") ); CREATE TABLE "concert" ( "concert_ID" int, "concert_Name" text, "Theme" text, "Stadium_ID" text, "Year" text, PRIMARY KEY ("concert_ID"), FOREIGN KEY ("Stadium_ID") REFERENCES "stadium"("Stadium_ID") ); CREATE TABLE "singer_in_concert" ( "concert_ID" int, "Singer_ID" text, PRIMARY KEY ("concert_ID","Singer_ID"), FOREIGN KEY ("concert_ID") REFERENCES "concert"("concert_ID"), FOREIGN KEY ("Singer_ID") REFERENCES "singer"("Singer_ID") );  \n #\n ###  How many singers do we have? \n SQL QUERY:',
 'mistral_7b_instruct_complex': '\n SELECT COUNT(*) FROM singer;\n\n #\n ###  How many concerts',
 'mistral_7b_instruct_complex_latency': 1.0309901237487793,
 'defog_sqlcoder_7b_complex': ' SELECT COUNT(*) FROM singer; \n ###  How many concerts do we have',
 'defog_sqlcoder_7b_complex_latency': 1.098464012145996,
 'llama_7b_complex': ' \n SELECT COUNT(*) FROM singer; \n #  Output: \n #  5\n',
 'llama_7b_complex_latency': 0.9059309959411621}